<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
	<meta charset="UTF-8">
	<title>添加车辆</title>
	<link rel="stylesheet" href="../../css/iuapmobile.um.css">
	<link rel="stylesheet" href="../../css/fonts/iconfont.css">
	<link rel="stylesheet" href="../../css/mint.css">
	<link rel="stylesheet" href="./car.min.css">
	<script src="../../js/summer.js"></script>
	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/font.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/mint.js"></script>
	<script src="../../js/common.js"></script>
	<script src="../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
</head>

<body>
	<div class="um-win" id="addCar" v-cloak>
		<div class="um-content addCar">
			<table>
				<tr @click="pickerDealer">
					<td>经销商</td>
					<td>
						<span v-if='dealer'>{{dealer}}</span>
					</td>
				</tr>
				<tr @click="surePickerOldCar">
					<td>是否二手车</td>
					<td>
						<span v-if='isOldCar'>{{isOldCar}}</span>
						<span class="grayColor" v-else>请选择</span>
						<i class="icon iconfont icon-enter"></i>
					</td>
				</tr>
				<tr @click="surePickerColor">
					<td>品牌类型</td>
					<td>
						<span v-if='color'>{{color}}</span>
						<span class="grayColor" v-else>请选择</span>
						<i class="icon iconfont icon-enter"></i>
					</td>
				</tr>
				<tr @click="pickerModels">
					<td>选择车型</td>
					<td>
						<span v-if='carModels'>{{carModels}}</span>
						<span class="grayColor" v-else>请选择</span>
						<i class="icon iconfont icon-enter"></i>
					</td>
				</tr>
				<template v-if="isOldCar=='是'">
					<tr>
						<td>车辆识别号</td>
						<td class='oldCar'>
							<input type="text" name="carNumber" placeholder="请输入车辆识别号" v-model="carNumber">
						</td>
					</tr>
					<tr>
						<td>发动机号</td>
						<td class='oldCar'>
							<input type="text" name="powerNumber" placeholder="请输入发动机号" v-model="powerNumber">
						</td>
					</tr>
					<tr>
						<td>二手车里程数(公里)</td>
						<td class='oldCar'>
							<input type="text" name="mileage" placeholder="请输入二手车里程数(公里)" v-model="mileage">
						</td>
					</tr>
					<tr>
						<td>二手车首次登记日期</td>
						<td class='oldCar'>
							<input type="text" name="firstDate" placeholder="请输入二手车首次登记日期" v-model="firstDate">
						</td>
					</tr>
					<tr>
						<td>交易城市</td>
						<td class='oldCar'>
							<input type="text" name="dealCity" placeholder="请输入交易城市" v-model="dealCity">
						</td>
					</tr>
					<tr>
						<td>卖家姓名</td>
						<td class='oldCar'>
							<input type="text" name="customerName" placeholder="请输入卖家姓名" v-model="customerName">
						</td>
					</tr>
					<tr>
						<td>卖家证件号码</td>
						<td class='oldCar'>
							<input type="text" name="carId" placeholder="请输入卖家证件号码" v-model="carId">
						</td>
					</tr>
				</template>
				<tr>
					<td>车辆单价</td>
					<td class='last'>
						<input type="text" @input="checkNumber($event,'realityPrice')" name="price" placeholder="请输入车辆单价" v-model="realityPrice">元
					</td>
				</tr>
				<tr>
					<td>车身颜色</td>
					<td>
						<input type="text"  name="carColor" placeholder="请输入车身颜色" v-model="carColor">
					</td>
				</tr>
			</table>
			<mt-popup v-model="pickerColorStatus" position='bottom' class="pickerColor">
				<mt-picker value-key="label" :slots="slots" @change="onValuesChange"></mt-picker>
				<p>
					<span class="" @click="surePickerColor">取消</span>
					<span class="" @click="surePickerColor('confirm')">确定</span>
				</p>
			</mt-popup>
			<mt-popup v-model="pickerOldCarStatus" position='bottom' class="pickerColor">
				<mt-picker :slots="slots1" @change="onOldCarChange"></mt-picker>
				<p>
					<span class="" @click="surePickerOldCar">取消</span>
					<span class="" @click="surePickerOldCar('confirm')">确定</span>
				</p>
			</mt-popup>
		</div>
	</div>
	<script>
		summerready = function () {
			addCar.PROJECT_ID=summer.pageParam.id
			addCar.getData()
		}
		var addCar = new Vue({
			el: '#addCar',
			data() {
				return {
					dealer: '',
					dealerId:'',
					carStatus: 'new',
					braNm:'',
					equNm:'',
					equSet:'',
					equMdl:'',
					carModels: '',
					color: '',
					carColor:'',
					realityPrice: '',
					pickerColorStatus: false,
					pickerOldCarStatus: false,
					pickedColor: '',
					pickedOldCar: '',
					isOldCar: '',
					carNumber: '',
					powerNumber: '',
					mileage: '',
					firstDate: '',
					dealCity: '',
					rgnReCd:{},
					rgnPrCd:{},
					rgnCyCd:{},
					rgnToCd:{},
					customerName: '',
					carId: '',
					id: '',
					PROJECT_ID: '',
					transParam:[],
					slots: [{
						flex: 1,
						values: [],
						defaultIndex: 0,
						className: 'slot1',
						textAlign: 'center'
					}],
					slots1: [{
						flex: 1,
						values: ["是", "否"],
						defaultIndex: 0,
						className: 'slot1',
						textAlign: 'center'
					}]
				}
			},
			created() {},
			methods: {
				getData() {
					var _this = this;
					ajaxRequest({
						type: 'POST',
						url: 'appservice/project/prjprdbscinfo/toAddPrd.do',
						param: {
							id:_this.PROJECT_ID
						}
					}, function (res) {
						_this.slots[0].values = res.data.braTypeList
						_this.transParam=res.data.braList
						var resData=res.data.prjBscInfo.prjEquBscInfo;					
						_this.dealer=resData.splNm
						_this.dealerId=resData.splId
						_this.isOldCar=resData.isNew=='1'?"是":"否"					
						_this.colorId=resData.braTypCd
						for(var i=0;i<res.data.braTypeList.length;i++){
							if(res.data.braTypeList[i].value==resData.braTypCd){
								_this.color=res.data.braTypeList[i].label
							}
						}
						_this.braNm=resData.braNm
						_this.equNm=resData.equNm
						_this.equSet=resData.equSet
						_this.equMdl=resData.equMdl
						_this.carModels=resData.equNm
						_this.realityPrice=resData.equAmt
						var oldCarData=res.data.prjBscInfo.prjEqiDtlCar
						_this.carColor=oldCarData.carCl
						if(resData.isNew=='1'){
							_this.carNumber=oldCarData.vinNo,
							_this.powerNumber=oldCarData.engNo,
							_this.mileage=oldCarData.usedCarMil,
							_this.firstDate=oldCarData.usedCarReg,
							_this.dealCity=oldCarData.vinNo,
							_this.customerName=oldCarData.sellerNm,
							_this.carId=oldCarData.idCardNo,
							_this.rgnReCd=res.data.prjBscInfo.rgnReCd
							_this.rgnPrCd=res.data.prjBscInfo.rgnPrCd
							_this.rgnCyCd=res.data.prjBscInfo.rgnCyCd
							_this.rgnToCd=res.data.prjBscInfo.rgnToCd
						}
						console.log("返回数据",JSON.stringify(res));

					}, function (err) {
						console.log("err", JSON.stringify(err));	
					})
				},
				checkNumber(e, param) {
					var val = $(e.currentTarget).val()
					if (!/^([1-9]\d{0,9}|0)([.]?|(\.\d{1,2})?)$/.test(val)) {
						if (param == 'guidePrice') {
							this.guidePrice = ''
						} else if (param == 'realityPrice') {
							this.realityPrice = ''
						} else if (param == 'onePrice') {
							this.onePrice = ''
						} else if (param == 'safePrice') {
							this.safePrice = ''
						}
					}
				},

				pickerModels() {
					var _this=this
						summer.openWin({
							id: 'pickerModels',
							url: 'html/touristsClient/pickerModels.html',
							create: false,
							type: 'actionBar',
							pageParam: {
								list: JSON.stringify(_this.transParam)
							},
							actionBar: {
								title: "选择品牌",
								titleColor: "#ffffff",
								backgroundColor: "#039BE5",
								leftItem: {
									image: "img/back.png",
									method: '',
									text: "返回",
									textColor: "#ffffff"
								}
							}
						})
				},
				onValuesChange(picker, values) {
					this.pickedColor = values[0];
				},
				onOldCarChange(picker, values) {
					this.pickedOldCar = values[0]
				},
				surePickerColor(param) {
					this.pickerColorStatus = !this.pickerColorStatus;
					if (param == 'confirm') {
						this.color = this.pickedColor.label;
						this.colorId = this.pickedColor.value;
					}
				},
				surePickerOldCar(param) {
					this.pickerOldCarStatus = !this.pickerOldCarStatus;
					if (param == 'confirm') {
						this.isOldCar = this.pickedOldCar
					}
				},
				save() {
					if (!this.dealer || !this.company || !this.color || !this.carModels || !this.guidePrice || !this.holdPrice ||
						this.onePrice == '' || this.safePrice == '') {
						summer.toast({
							msg: '请填写车辆的所有信息'
						})
						return
					}

					var param = {};
					// summer.showProgress();
					param.isNew=this.isOldCar=="是"?1:2;				
					param.braTypCd=this.colorId
					

					param.braNm=this.braNm
					param.equSet=this.equSet
					param.equMdl=this.equMdl
					param.equNm=this.equNm
					param.equAmt= this.realityPrice;
					param.carCl=this.carColor
					param.equQty="1"
					if(this.isOldCar=="是"){
						param.vinNo=this.carNumber
						param.engNo=this.powerNumber
						param.usedCarMil=this.mileage
						param.usedCarReg=this.firstDate
						param.sellerNm=this.customerName
						param.idCardNo=this.carId
						param.rgnReCd=this.rgnReCd
						param.rgnPrCd=this.rgnPrCd
						param.rgnCyCd=this.rgnCyCd
						param.rgnToCd=this.rgnToCd
					}
					console.log("param", JSON.stringify(param));
					ajaxRequest({

					},function(res){
						console.log("返回数据",JSON.stringify(res));
					},function(err){
						console.log("err", JSON.stringify(err));
					})
					summer.closeWin()
				}
			}
		});

		function getModels() {
			var models = summer.getStorage('pickerModels4');
			console.log(summer.getStorage('pickerModels1'), summer.getStorage('pickerModels2'),summer.getStorage('pickerModels3'), models);
			if (models) {
				addCar.carModels =models
				addCar.braNm=summer.getStorage('pickerModels1')
				addCar.equSet=summer.getStorage('pickerModels2')
				addCar.equMdl=summer.getStorage('pickerModels3')
				addCar.equNm=models
				addCar.realityPrice = summer.getStorage('realityPrice')
			}
		}

		function goBack() {
			addCar.save()
		}
	</script>
</body>

</html>