<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/iuapmobile.um.css">
    <link rel="stylesheet" href="../../css/fonts/iconfont.css">
    <link rel="stylesheet" href="./commonInfoPage.css">
    <link rel="stylesheet" href="../../css/mint.css">
    <script src="../../js/summer.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
    <script src="../../js/font.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/mint.js"></script>
    <script src="../../js/common.js"></script>
</head>

<body>
    <div class="um-win" id="index">
        <div class="um-content" v-cloak>
            <ul class="loanList">
                <li>
                    <span>开户银行</span>
                    <div @click="sureBank" v-if="pageType == 'change'">
                        <span class="iconfont icon-enter"></span>
                        <i v-bind:style="[datas.bkNm == '请选择' ? {'color':'#9e9e9e'} : {'color':'#333'}]">{{datas.bkNm}}</i>
                    </div>
                    <div v-else>{{ datas.bkNm }}</div>
                </li>
                <li>
                    <span>开户名称</span>
                    <input type="text" placeholder="请输入" v-model="datas.accNm" v-if="pageType == 'change'" />
                    <div v-else>{{ datas.accNm }}</div>
                </li>
                <li>
                    <span>银行账号</span>
                    <input type="number" placeholder="请输入" v-model="datas.accNo" v-if="pageType == 'change'" />
                    <div v-else>{{ datas.accNo }}</div>
                </li>
                <li>
                    <span>证件类型</span>
                    <div @click="sureZJType" v-if="pageType == 'change'">
                        <span class="iconfont icon-enter"></span>
                        <i v-bind:style="[datas.certTypNm == '请选择' ? {'color':'#9e9e9e'} : {'color':'#333'}]">{{datas.certTypNm}}</i>
                    </div>
                    <div v-else>{{ datas.certTypNm }}</div>
                </li>
                <li>
                    <span>证件号码</span>
                    <input type="text" placeholder="请输入" v-model="datas.certNo" v-if="pageType == 'change'" />
                    <div v-else>{{ datas.certNo }}</div>
                </li>
                <li>
                    <span>账户类型</span>
                    <div @click="sureZHType" v-if="pageType == 'change'">
                        <span class="iconfont icon-enter"></span>
                        <i v-bind:style="[datas.accTypCdName == '请选择' ? {'color':'#9e9e9e'} : {'color':'#333'}]">{{datas.accTypCdName}}</i>
                    </div>
                    <div v-else>{{ datas.accTypCdName }}</div>
                </li>
                <li>
                    <span>开户预留手机号</span>
                    <input type="number" placeholder="请输入" v-model="datas.accPhone" v-if="pageType == 'change'" />
                    <div v-else>{{ datas.accPhone }}</div>
                </li>
                 <li>
                        <input type="number" placeholder="请输入验证码" v-model="datas.PhoneCode" v-if="pageType == 'change'" />
                        <div v-else>{{ datas.accPhone }}</div>
                        <span @click="achieveCode()" style="color:rgb(28, 145, 241)">发送验证码</span>
                 </li>
                 <!-- <li>
                        <input type="number" placeholder="请输入验证码" v-model="datas.PhoneCode" v-if="!(pageType == 'change')"/>
                        <div v-else style="color:rgb(250, 40, 40)">{{解除绑定}}</div>
                        <span @click="bundleBank()" style="color:rgb(28, 145, 241)">绑定银行卡</span>
                 </li> -->
                 <!--dl>
                        <dt class="iconfont icon-key"></dt>
                        <dd>
                            <input v-model="code" type="text" placeholder="验证码">
                        </dd>
                    </dl-->
                    <!-- <span v-bind:class="codeClassObject" @click="achieveCode()">{{获取验证码}}</span> -->
            </ul>
            <button type="button" class="loginBtn" onclick="toLogin()">绑定银行卡</button>
            
 
            <!-- 开户银行 -->
            <mt-popup v-model="bankStatus" position="bottom" class="pickerColor">
                <mt-picker value-key="label" :slots="bankSlots" @change="onMethodChange"></mt-picker>
                <p>
                    <span class="" @click="sureBank">取消</span>
                    <span class="" @click="sureBank('confirm')">确定</span>
                </p>
            </mt-popup>
            <!-- 证件类型 -->
            <mt-popup v-model="ZJTypeStatus" position="bottom" class="pickerColor">
                <mt-picker value-key="label" :slots="ZJTypeSlots" @change="onZJTypeChange"></mt-picker>
                <p>
                    <span class="" @click="sureZJType">取消</span>
                    <span class="" @click="sureZJType('confirm')">确定</span>
                </p>
            </mt-popup>
            <!-- 账户类型 -->
            <mt-popup v-model="ZHTypeStatus" position="bottom" class="pickerColor">
                <mt-picker value-key="label" :slots="ZHTypeSlots" @change="onZHTypeChange"></mt-picker>
                <p>
                    <span class="" @click="sureZHType">取消</span>
                    <span class="" @click="sureZHType('confirm')">确定</span>
                </p>
            </mt-popup>
        </div>
    </div>
    <script type="text/javascript">
        var DKKInfoPage = new Vue({
            el: '#index',
            data: {
                datas: {
                    bkNm: "请选择",
                    bkNmCode: "",
                    accNm: "",
                    accNo: "",
                    certTypNm: "请选择",
                    certTypCdNmCode: "",
                    certNo: "",
                    accTypCdName: "请选择",
                    accTypCdNameCode: "",
                    accPhone: "",
                    cardId:"",
                    PhoneCode:""
                },
                pageType: "",
                cstId: "",
                ID: "",
                // 开户银行
                bankStatus:false,
                pickedBank:"",
                bankSlots: [{
                    flex: 1,
                    values: [],
                    defaultIndex: 0,
                    className: 'slot1',
                    textAlign: 'center'
                }],
                // 证件类型
                ZJTypeStatus:false,
                pickedZJType:"",
                ZJTypeSlots: [{
                    flex: 1,
                    values: [],
                    defaultIndex: 0,
                    className: 'slot1',
                    textAlign: 'center'
                }],
                // 账户类型
                ZHTypeStatus:false,
                pickedZHType:"",
                ZHTypeSlots: [{
                    flex: 1,
                    values: [],
                    defaultIndex: 0,
                    className: 'slot1',
                    textAlign: 'center'
                }]
            },
            methods: {
                // 选择开户银行
                onMethodChange:function (picker, values) {
					this.pickedBank = values[0];
				},
				sureBank:function (param) {
					this.bankStatus = !this.bankStatus;
					if (param == 'confirm') {
                        this.datas.bkNm = this.pickedBank.label;
                        this.datas.bkNmCode = this.pickedBank.value;
					}
                },
                // 选择证件类型
                onZJTypeChange:function (picker, values) {
					this.pickedZJType = values[0];
				},
				sureZJType:function (param) {
					this.ZJTypeStatus = !this.ZJTypeStatus;
					if (param == 'confirm') {
                        this.datas.certTypNm = this.pickedZJType.label;
                        this.datas.certTypCdNmCode = this.pickedZJType.value;
					}
                },
                // 选择账户类型
                onZHTypeChange:function (picker, values) {
					this.pickedZHType = values[0];
				},
				sureZHType:function (param) {
					this.ZHTypeStatus = !this.ZHTypeStatus;
					if (param == 'confirm') {
                        this.datas.accTypCdName = this.pickedZHType.label;
                        this.datas.accTypCdNameCode = this.pickedZHType.value;
					}
                },
                getData: function () {
                    summer.showProgress();
                    var self = this;
                    ajaxRequest({
						type: 'post',
						url: 'appservice/project/act/loadBankAcc',
						param: {
                            cstId: {
                                id: this.cstId
                            }
						}
					}, function(res) {
                        summer.hideProgress();
						var Data = res.data;
						if (Data.flag == 1) {
                            self.ID = Data.datas.bankAcc.id ? Data.datas.bankAcc.id : "";
                            self.bankSlots[0].values = Data.datas.bkCdArray ? Data.datas.bkCdArray : [];
                            self.ZJTypeSlots[0].values = Data.datas.certTypCdArray ? Data.datas.certTypCdArray : [];
                            self.ZHTypeSlots[0].values = Data.datas.accTypCdArray ? Data.datas.accTypCdArray : [];
                            self.datas.bkNm = Data.datas.bankAcc.bkNm ? Data.datas.bankAcc.bkNm : "请选择";
                            self.datas.bkNmCode = Data.datas.bankAcc.bkCd ? Data.datas.bankAcc.bkCd : "";
                            self.datas.accNm = Data.datas.bankAcc.accNm ? Data.datas.bankAcc.accNm : "";
                            self.datas.accNo = Data.datas.bankAcc.accNo ? Data.datas.bankAcc.accNo : "";
                            self.datas.certTypNm = Data.datas.bankAcc.certTypNm ? Data.datas.bankAcc.certTypNm : "请选择";
                            self.datas.certTypCdNmCode = Data.datas.bankAcc.certTypCd ? Data.datas.bankAcc.certTypCd : "";
                            self.datas.certNo = Data.datas.bankAcc.certNo ? Data.datas.bankAcc.certNo : "";
                            self.datas.accTypCdName = Data.datas.bankAcc.accTypCdName ? Data.datas.bankAcc.accTypCdName : "请选择";
                            self.datas.accTypCdNameCode = Data.datas.bankAcc.accTypCd ? Data.datas.bankAcc.accTypCd : "请选择";
                            self.datas.accPhone = Data.datas.bankAcc.accPhone ? Data.datas.bankAcc.accPhone : "";
						} else {
							summer.toast({
								msg: "获取信息失败"
							});
						}
					}, function(err) {
						summer.hideProgress();
						summer.toast({
							msg: "获取信息失败"
						});
					});
                },
                save: function () {
                    var regCard = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/; //身份证校验
                    var phoneCard =  /^[1][0-9]{10}$/;
                    if (this.datas.certTypNm == "身份证" && !regCard.test(this.datas.certNo)) {
                        summer.toast({
                            msg: "身份证号格式有误"
                        });
                        return;
                    } else if (!phoneCard.test(this.datas.accPhone)) {
                        summer.toast({
                            msg: "手机号格式有误"
                        });
                        return;
                    }
                    summer.showProgress();
                    var self = this;
                    ajaxRequest({
						type: 'post',
						url: 'appservice/project/act/saveBankAcc',
						param: {
                            id: this.ID,  
                            cstId: {
                                id: this.cstId
                            },
                            bkCd: this.datas.bkNmCode,
                            accNm: this.datas.accNm,
                            accNo: this.datas.accNo,
                            accTypCd: this.datas.accTypCdNameCode,
                            certTypCd: this.datas.certTypCdNmCode,
                            certNo: this.datas.certNo,
                            accPhone: this.datas.accPhone
						}
					}, function(res) {
                        summer.hideProgress();
						var Data = res.data;
						if (Data.flag == 1) {
                            summer.toast({
								msg: "保存成功"
                            });
                            summer.execScript({
                                winId: 'missionInfo',
                                frameId: 'projectDetail',
                                script: 'projectDetail.getList()'
                            });
                            summer.closeWin();
						} else {
							summer.toast({
								msg: "保存失败"
							});
						}
					}, function(err) {
						summer.hideProgress();
						summer.toast({
							msg: "保存失败"
						});
					});
                },
                achieveCode: function () {
					var This = this;
                    var regCard = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/; //身份证校验
                    var phoneCard =  /^[1][0-9]{10}$/;
                    if (this.datas.certTypNm == "身份证" && !regCard.test(this.datas.certNo)) {
                        summer.toast({
                            msg: "身份证号格式有误"
                        });
                        return;
                    } else if (!phoneCard.test(this.datas.accPhone)) {
                        summer.toast({
                            msg: "手机号格式有误"
                        });
                        return;
                    }
                    summer.showProgress();
                    var self = this;
                    ajaxRequest({
						type: 'post',
						url: 'appservice/project/act/saveBankAcc',
						param: {
                            id: this.ID,  
                            cstId: {
                                id: this.cstId
                            },
                            bkCd: this.datas.bkNmCode,
                            accNm: this.datas.accNm,
                            accNo: this.datas.accNo,
                            accTypCd: this.datas.accTypCdNameCode,
                            certTypCd: this.datas.certTypCdNmCode,
                            certNo: this.datas.certNo,
                            accPhone: this.datas.accPhone
						}
					}, function(res) {
                        summer.hideProgress();
						var Data = res.data;
						if (Data.flag == 1) {
                            summer.execScript({
                                winId: 'missionInfo',
                                frameId: 'projectDetail',
                                script: 'projectDetail.getList()'
                            });
                         summer.showProgress();
						/* 获取验证码接口 */
						ajaxRequest({
							type: 'post',
							url: 'appservice/project/act/sendBindMsg',
							param: {
								id: This.datas.cardId
							}
						}, function (res) {
							summer.hideProgress();
							// var Data;
							// if (Object.prototype.toString.call(res.data) === '[object String]') {
							// 	Data = JSON.parse(res.data);
							// } else {
							// 	Data = res.data;
							// }
							if (res.data.datas.code == 1) {
									summer.toast({
										msg: "验证码已发送"
									});
							} else {
								summer.toast({
									msg: res.data.datas.msg
								});
							}
						}, function (err) {
							summer.hideProgress();
							summer.toast({
								msg: "系统内部异常"
							});
							console.log(err);
						});
						} else {
							summer.toast({
								msg: Data.msg
							});
						}
					}, function(err) {
						summer.hideProgress();
						summer.toast({
							msg: "保存失败"
						});
					});
					// var re = /^1[3|4|5|7|8|6|9][0-9]{9}$/;
					// if (!this.phoneNum) {
					// 	summer.toast({
					// 		msg: "请输入手机号"
					// 	});
					// 	return;
					// }
					// if (!re.test(this.phoneNum)) {
					// 	summer.toast({
					// 		msg: "手机号格式有误"
					// 	});
					// 	return;
					// }
					// if (this.codeTxt == "获取验证码") {
						This.getCode = "";
					// } else {
					// 	summer.toast({
					// 		msg: "请勿连续发送"
					// 	});
					// }
				}
            },
            //解除绑定
            removeBank: function () { 
                var This = this;
                summer.showProgress();
						ajaxRequest({
							type: 'post',
							url: 'appservice/project/act/unbind',
							param: {
								id: This.datas.cardId
							}
						}, function (res) {
							summer.hideProgress();
							if (res.data.datas.code == 1) {
									summer.toast({
										msg: "解除绑定成功"
									});
							} else {
								summer.toast({
									msg: res.data.datas.msg
								});
							}
						}, function (err) {
							summer.hideProgress();
							summer.toast({
								msg: "系统内部异常"
							});
							console.log(err);
						});
						
				
            }
            //绑定银行卡
            // bundleBank: function () {
            //     var This = this;
            //     summer.showProgress();
            //     ajaxRequest({
            //         type: 'post',
            //         url: 'appservice/project/act/bind',
            //         param: {
            //             id: This.datas.cardId
            //         }
            //     }, function (res) {
            //         summer.hideProgress();
            //         if (res.data.datas.code == 1) {
            //                 summer.toast({
            //                     msg: "绑定成功"
            //                 });
            //         } else {
            //             summer.toast({
            //                 msg: res.data.datas.msg
            //             });
            //         }
            //     }, function (err) {
            //         summer.hideProgress();
            //         summer.toast({
            //             msg: "系统内部异常"
            //         });
            //         console.log(err);
            //     });
						
				
            // }
        });
        function toLogin() {
            var This = DKKInfoPage;
                summer.showProgress();
                ajaxRequest({
                    type: 'post',
                    url: 'appservice/project/act/bind',
                    param: {
                        id: DKKInfoPage.datas.cardId,
                        vailCode:DKKInfoPage.datas.PhoneCode
                    }
                }, function (res) {
                    summer.hideProgress();
                    if (res.data.datas.code == 1) {
                            summer.toast({
                                msg: "绑定成功"
                            });
                    } else {
                        summer.toast({
                            msg: res.data.datas.msg
                        });
                    }
                }, function (err) {
                    summer.hideProgress();
                    summer.toast({
                        msg: "系统内部异常"
                    });
                    console.log(err);
                });
            
            }
        function bundleBank(){
               var This = DKKInfoPage;
                summer.showProgress();
                ajaxRequest({
                    type: 'post',
                    url: 'appservice/project/act/bind',
                    param: {
                        id: DKKInfoPage.datas.cardId
                    }
                }, function (res) {
                    summer.hideProgress();
                    if (res.data.datas.code == 1) {
                            summer.toast({
                                msg: "绑定成功"
                            });
                    } else {
                        summer.toast({
                            msg: res.data.datas.msg
                        });
                    }
                }, function (err) {
                    summer.hideProgress();
                    summer.toast({
                        msg: "系统内部异常"
                    });
                    console.log(err);
                });
			}

        summerready = function() {
            DKKInfoPage.pageType = summer.pageParam.pageType ? summer.pageParam.pageType : "";
            DKKInfoPage.cstId = summer.pageParam.datas.prjBscInfo.cstId.id;
            DKKInfoPage.datas.cardId = summer.pageParam.datas.prjBscInfo.cstId.cstNpBscInfo.cstBank.id;
            console.log("DKKInfoPage.datas.cardId",DKKInfoPage.datas.cardId )
            if (summer.pageParam.pageType && summer.pageParam.pageType == 'change') {
                DKKInfoPage.getData();
            } else if (summer.pageParam.datas && summer.pageParam.datas.prjBscInfo.cstId.cstNpBscInfo.cstBank) {
                DKKInfoPage.datas.bkNm = summer.pageParam.datas.prjBscInfo.cstId.cstNpBscInfo.cstBank.bkNm;
                DKKInfoPage.datas.accNm = summer.pageParam.datas.prjBscInfo.cstId.cstNpBscInfo.cstBank.accNm;
                DKKInfoPage.datas.accNo = summer.pageParam.datas.prjBscInfo.cstId.cstNpBscInfo.cstBank.accNo;
                DKKInfoPage.datas.certTypNm = summer.pageParam.datas.prjBscInfo.cstId.cstNpBscInfo.cstBank.certTypNm;
                DKKInfoPage.datas.certNo = summer.pageParam.datas.prjBscInfo.cstId.cstNpBscInfo.cstBank.certNo;
                DKKInfoPage.datas.accTypCdName = summer.pageParam.datas.prjBscInfo.cstId.cstNpBscInfo.cstBank.accTypCdName;
                DKKInfoPage.datas.accPhone = summer.pageParam.datas.prjBscInfo.cstId.cstNpBscInfo.cstBank.accPhone;
                DKKInfoPage.datas.cardId = summer.pageParam.datas.prjBscInfo.cstId.cstNpBscInfo.cstBank.id
            }
        };
    </script>
</body>

</html>
