<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/iuapmobile.um.css">
    <link rel="stylesheet" href="../../css/fonts/iconfont.css">
    <link rel="stylesheet" href="./commonInfoPage.css">
    <link rel="stylesheet" href="../../css/mint.css">
    <script src="../../js/summer.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
    <script src="../../js/font.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/mint.js"></script>
    <script src="../../js/common.js"></script>
</head>

<body>
    <div class="um-win" id="index">
        <div class="um-content" v-cloak>
            <div id="content" v-if="!arr.length"></div>
            <ul class="loanList" v-for="(item, index) in arr">
                <li>
                    <span>姓名</span>
                    <div>{{ item.rlNm }}</div>
                </li>
                <li>
                    <span>手机号</span>
                    <div>{{ item.mp }}</div>
                </li>
                <li>
                    <span>与客户关系</span>
                    <div>{{ item.rlTypCdNm }}</div>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        var JJInfoPage = new Vue({
            el: '#index',
            data: {
                arr: []
            },
            methods: {
                
            }
        });
        summerready = function() {
            JJInfoPage.arr = summer.pageParam.datas.linkMens ? summer.pageParam.datas.linkMens : [];
            createNull("content", "../../img/empty.png");
        };
    </script>
</body>

</html>
