<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/iuapmobile.um.css">
    <link rel="stylesheet" href="../../css/fonts/iconfont.css">
    <link rel="stylesheet" href="missionDetail.css">
    <script src="../../js/summer.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
    <script src="../../js/font.js" charset="utf-8"></script>
    <script src="../../js/idangerous.swiper-2.0.min.js" charset="utf-8"></script>
    <script src="../../js/common.js"></script>
    <script src="../../js/vue.js"></script>
</head>

<body>
    <div class="um-frame" id="index">
        <div class="um-content">
            <div id="content"></div>
            <h2 class="processNum">流程编号：{{baseM.pdNo}}</h2>
            <ul class="processList" >
                <li v-for="(k, index) in items" v-bind:class="[index == items.length-1 ? '' : 'borderActive']">
                    <img src="../../img/true.png" alt="">
                    <div class="box">
                        <p class="p1">执行环节:{{k.taskName}}</p>
                        <p class="p2">执行人:{{k.assigneeName}}</p>
                        <p class="p3" >处理类型:{{k.flagName}}</p>
                        <p class="p4">开始时间:{{(new Date(k.histIns.startTime)).format("yyyy-MM-dd hh:mm:ss")}}</p>
                        <p class="pfive">结束时间:{{(new Date(k.histIns.endTime)).format("yyyy-MM-dd hh:mm:ss")}}</p>
                        <p class="pfive">任务历时:{{k.durationTime}}</p>
                    </div>
                </li>
            </ul>
            <!--ul class="processList" v-else>
                <li>
                    <img src="../../img/true.png" alt="">
                    <div class="box">
                        <p class="p1">任务已完成</p>
                    </div>
                </li>
            </ul-->
            <div v-for="(item,index) in baseM" class="remark">
                    <p class="pl10 pr10 ">
                            <span class="delete" v-show="index>0&&item.isDel" @click="deleteMessage(index)">x</span> <span >留言{{index+1}}:</span>
                    </p>
                    <div class="item um-box pl10 pr10" v-if="item.isDel" >
                            <span class="um-bf1">留言人：</span><input placeholder="请输入留言人" v-model="item.createName" type="text"  readonly="readonly">   
                    </div>
                    <div class="item um-box pl10 pr10" v-else >
                            <span class="um-bf1">留言人：</span><input placeholder="请输入留言人" v-model="item.createName" type="text" > 
                    </div>
                    <div class="item um-box pl10 pr10" v-if="item.isDel" >
                            <span class="um-bf1">留言时间：</span><input placeholder="请输入留言时间" v-model="item.createDate" type="text" readonly="readonly">   
                    </div>
                    <div class="item um-box pl10 pr10" v-else >
                            <span class="um-bf1">留言时间：</span><input placeholder="请输入留言时间" v-model="item.createDate" type="text"  >   
                    </div>
                    <div class="item um-box pl10 pr10" v-show="item.isDel" >
                            <span class="um-bf1">删除人：</span><input placeholder="请输入删除人" v-model="item.deleteBy"  readonly="readonly" type="text">   
                    </div>
                    <div class="item um-box pl10 pr10"  v-show="item.isDel">
                            <span class="um-bf1">删除时间：</span><input placeholder="请输入删除时间" readonly="readonly" v-model="item.updateDate" type="text">   
                    </div>
                    <div class="item um-box pl10 pr10 leaveMessage"  >
                            <span class="um-bf1">留言信息：</span> 
                    </div>
                    <textarea id="question" v-model="item.message" placeholder="请输入留言信息" v-if="item.isDel" readonly="readonly"></textarea>  
                    <textarea id="question" v-model="item.message" placeholder="请输入留言信息" v-else  ></textarea>
                    <p class=" select um-box" v-if="!item.isDel">
                            <span class="um-bf1   tc" @click="delete(item.id)">
                                <i class="iconfont icon-modify mr5"></i>删除</span>
                            <span class="um-bf1  tc" @click="save(item.id)">
                                <i class="iconfont icon-nav_delete mr5"></i>保存</span>
                    </p>
                     <p v-else></p> 
            </div>
            <div class="remark" @click="addMessage">
                    <p class="pl10 pr10"> <span class="add">+</span>  添加留言</p>
            </div>
            <div>
                 
                <div class="btns submitBtn um-box">
                    <span v-for="k in arr" class="um-bf1">
                        <div @click=submitMission(k.label,k.value) v-bind:class="[arr.length > 1 ? 'buttons more' : 'buttons']">{{k.label}}</div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        summerready = function () {
            var procDefId = summer.pageParam.procDefId;
            var pdNo = summer.pageParam.pdNo;
            var taskDefKey = summer.pageParam.taskDefKey;

            var procInsId = summer.pageParam.procInsId;
            var taskName = summer.pageParam.taskName;
            var taskId = summer.pageParam.taskId;
            var view = summer.pageParam.view;
            var userinfo = summer.getStorage("userinfo");
            // missionDetail.ORG_ID = userinfo.ORG_ID ? userinfo.ORG_ID : "";
            // missionDetail.EMPLOYEE_ID = userinfo.EMPLOYEE_ID ? userinfo.EMPLOYEE_ID : "";
            // missionDetail.JBPM_ID = JBPM_ID;
            // missionDetail.TASK_ID = TASK_ID;
            // missionDetail.KTYPE = KTYPE;
            missionDetail.getData(procDefId, pdNo,taskDefKey,procInsId,taskName,taskId,view);
        }
        var missionDetail = new Vue({
            el: '#index',
            data: {
                // memoFlag: false,
                // ORG_ID: '',
                // EMPLOYEE_ID: '',
                // JBPM_ID: '',
                // TASK_ID: '',
                // KTYPE: '',
                // txt: "",
                // txt_w: "",
                baseM:'',
                items: '',
                arr: '' /* [{"nodeName_":'提交',"toNode_":"下一步"},{"nodeName_":'提交2',"toNode_":"下一步2"} ,{"nodeName_":'提交3',"toNode_":"下一步3"}]*/
            },
            methods: {
                getData:function (procDefId, pdNo,taskDefKey,procInsId,taskName,taskId,view) {
                    summer.showProgress();
                    var self = this;
                        ajaxRequest({
                            type: 'post',
                            url: 'appservice/sys/act/toComplete',
                            param: {
                                "procDefId": procDefId,
                                "pdNo": pdNo,
                                "taskDefKey": taskDefKey,
                                "procInsId":procInsId,
                                "taskName":taskName,
                                "taskId":taskId,
                                "status":view
                            }
                        }, function (res) {
                            summer.hideProgress();
                            console.log(res);
                            if (res.data.flag == 1) {
                                self.items = res.data.datas.historyFlow;
                                self.arr = res.data.datas.btns;
                                self.baseM = res.data.datas.actMsgList;
                                console.log(res);
                            }
                        }, function (err) {
                            alert(err);
                            console.log(err);
                            summer.hideProgress();
                        });
                    // } else {
                    //     summer.hideProgress();
                    //     createNull("content", "../../img/empty.png", "暂未发起流程")
                    // }
                },
                deleteMessage:function(){
                    return;
                },
                addMessage:function(){
                    return;
                },
                submitMission:function (nodeName_, toNode_) {
                    summer.showProgress();
                    var self = this;
                    ajaxRequest({
                        type: 'post',
                        url: 'appservice/bpmtask/domyTask',
                        param: {
                            "JBPM_ID": self.JBPM_ID,
                            "TASK_ID": self.TASK_ID,
                            "MEMO": self.txt,
                            "EMPLOYEE_ID": self.EMPLOYEE_ID,
                            "nodeName_": nodeName_,
                            "toNode_": toNode_,
                            "WMEMO": self.txt_w,
                            "ORG_ID": self.ORG_ID
                        }
                    }, function (res) {
                        summer.hideProgress();
                        if (res.data.flag == 1) {
                            summer.toast({
                                msg: "处理成功"
                            });
                            summer.execScript({
                                winId: "missionIndex",
                                frameId: 'missionList',
                                script: " getData('1', 'true');"
                            });
                            summer.execScript({
                                winId: "homePage",
                                script: " getMissionData();"
                            });
                            summer.closeWin();
                            console.log(res);
                        } else if (res.data.flag == 0) {
                            summer.toast({
                                msg: res.data.msg
                            });
                        }
                    }, function (err) {
                        summer.hideProgress();
                        console.log(err);
                    });
                }
            }
        });
    </script>
</body>

</html>