<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/iuapmobile.um.css">
    <link rel="stylesheet" href="../../css/fonts/iconfont.css">
    <link rel="stylesheet" href="missionDetail.css">
    <script src="../../js/summer.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
    <script src="../../js/font.js" charset="utf-8"></script>
    <script src="../../js/idangerous.swiper-2.0.min.js" charset="utf-8"></script>
    <script src="../../js/common.js"></script>
    <script src="../../js/vue.js"></script>
</head>

<body>
    <div class="um-frame" id="index" v-cloak>
        <div class="um-content">
            <div id="content"></div>
            <h2 class="processNum">流程编号：{{baseM.pdNo}}</h2>
            <ul class="processList" >
                <li v-for="(k, index) in items" v-bind:class="[index == items.length-1 ? '' : 'borderActive']">
                    <img src="../../img/true.png" alt="">
                    <div class="box">
                        <p class="p1">执行环节:{{k.taskName}}</p>
                        <p class="p2">执行人:{{k.assigneeName}}</p>
                        <p class="p3" >处理类型:{{k.flagName}}</p>
                        <p class="p4">开始时间:{{k.histIns?(new Date(k.histIns.startTime)).format("yyyy-MM-dd hh:mm:ss"):''}}</p>
                        <p class="pfive">结束时间:{{k.histIns?(new Date(k.histIns.endTime)).format("yyyy-MM-dd hh:mm:ss"):''}}</p>
                        <p class="pfive">任务历时:{{k.durationTime}}</p>
                    </div>
                </li>
            </ul>
            <!--ul class="processList" v-else>
                <li>
                    <img src="../../img/true.png" alt="">
                    <div class="box">
                        <p class="p1">任务已完成</p>
                    </div>
                </li>
            </ul-->
            <div v-for="(item,index) in baseM" class="remark">
                    <p class="pl10 pr10 ">
                            <span >留言{{index+1}}:</span>
                    </p>
                    <div class="item um-box pl10 pr10" v-if="item.isDel" >
                            <span class="um-bf1">留言人：</span><input placeholder="请输入留言人" v-model="item.createName" type="text"  readonly="readonly">   
                    </div>
                    <div class="item um-box pl10 pr10" v-else >
                            <span class="um-bf1">留言人：</span><input placeholder="请输入留言人" v-model="item.createName" type="text" > 
                    </div>
                    <div class="item um-box pl10 pr10" v-if="item.isDel" >
                            <span class="um-bf1">留言时间：</span><input placeholder="请输入留言时间" v-model="item.createDate" type="text" readonly="readonly">   
                    </div>
                    <div class="item um-box pl10 pr10" v-else >
                            <span class="um-bf1">留言时间：</span><input placeholder="请输入留言时间" v-model="item.createDate" type="text"  >   
                    </div>
                    <div class="item um-box pl10 pr10" v-show="item.isDel" >
                            <span class="um-bf1">删除人：</span><input placeholder="请输入删除人" v-model="item.deleteBy"  readonly="readonly" type="text">   
                    </div>
                    <div class="item um-box pl10 pr10"  v-show="item.isDel">
                            <span class="um-bf1">删除时间：</span><input placeholder="请输入删除时间" readonly="readonly" v-model="item.updateDate" type="text">   
                    </div>
                    <div class="item um-box pl10 pr10 leaveMessage"  >
                            <span class="um-bf1">留言信息：</span> 
                    </div>
                    <textarea id="question" v-model="item.message" placeholder="请输入留言信息" v-if="item.isDel" readonly="readonly"></textarea>  
                    <textarea id="question" v-model="item.message" placeholder="请输入留言信息" v-else  ></textarea>
                    <p class=" select um-box remarkNew saveItemButton" v-if="!item.isDel" >
                            <span class="um-bf1   tc" @click="deleteReal(item.id)">
                                <i class="iconfont icon-nav_delete mr5"></i>删除</span>
                    </p>
                     <p v-else class="lastPcontent"></p> 
            </div>
            <div v-for="(item,index) in addNewMessage" class="remark remarkNew">
                    <p class="pl10 pr10 ">
                            <span class="delete"  @click="deleteMessage(index)">x</span> <span >新增留言{{index+1}}:</span>
                    </p>
                    <div class="item um-box pl10 pr10 leaveMessage"  >
                            <span class="um-bf1">留言信息：</span> 
                    </div>
                    <textarea id="question" v-model="item.message" placeholder="请输入留言信息"  ></textarea>
                    <p class=" select um-box saveItemButton"  >
                            <span class="um-bf1  tc" @click="saveMessage(index)">
                                <i class="iconfont icon-submit mr5"></i>保存</span>
                    </p>
            </div>
            <div class="remark" @click="addMessage">
                    <p class="pl10 pr10"> <span class="add">+</span>  添加留言</p>
            </div>
            <div>
                <div class="text" v-if="arr.length>0">
                        <textarea class="text" placeholder="请输入处理意见" v-model="commontMessage"></textarea>
                    </div>
                <div class="btns submitBtn um-box">
                    <span v-for="k in arr" class="um-bf1">
                        <div @click=submitMission(k.label,k.value,k.isNeedTypeAndReason) v-bind:class="[arr.length > 1 ? 'buttons more' : 'buttons']">{{k.label}}</div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        summerready = function () {
            var procDefId = summer.pageParam.procDefId;
            missionDetail.initMessage.procDefId = procDefId;
            var pdNo = summer.pageParam.pdNo;
            missionDetail.initMessage.pdNo = pdNo;
            var taskDefKey = summer.pageParam.taskDefKey;
            missionDetail.initMessage.taskDefKey = taskDefKey;

            var procInsId = summer.pageParam.procInsId;
            missionDetail.initMessage.procInsId = procInsId;
            var taskName = summer.pageParam.taskName;
            missionDetail.initMessage.taskName = taskName;
            var taskId = summer.pageParam.taskId;
            missionDetail.initMessage.taskId = taskId;
            var view = summer.pageParam.view;
            missionDetail.initMessage.view = view;
            var userinfo = summer.getStorage("userinfo");
            // missionDetail.ORG_ID = userinfo.ORG_ID ? userinfo.ORG_ID : "";
            // missionDetail.EMPLOYEE_ID = userinfo.EMPLOYEE_ID ? userinfo.EMPLOYEE_ID : "";
            // missionDetail.JBPM_ID = JBPM_ID;
            // missionDetail.TASK_ID = TASK_ID;
            // missionDetail.KTYPE = KTYPE;
            missionDetail.getData(procDefId, pdNo,taskDefKey,procInsId,taskName,taskId,view);
        }
        function getdoType(){
            missionDetail.taskDealType =JSON.parse(summer.getStorage('pickerDoType')).value;
            var pickerDoReason = summer.getStorage('pickerDoReason');
            if(pickerDoReason){
                missionDetail.taskDealReasonCd = JSON.parse(summer.getStorage('pickerDoReason')).value;
                missionDetail.taskDealReason = JSON.parse(summer.getStorage('pickerDoReason')).label;
            }
            missionDetail.doAction();
        }
        var missionDetail = new Vue({
            el: '#index',
            data: {
                initMessage:{
                    procDefId:'',
                    pdNo:'',
                    taskDefKey:'',
                    procInsId:'',
                    taskName:'',
                    taskId:'',
                    view:''
                },
                commontMessage:'',
                flag:'',
                taskDealType:'',//处理类型
                taskDealReason:'',//..处理原因
                taskDealReasonCd:'',//处理原因ID
                newMessageInfo:{
                    pdNo:'',
                    pInstId:'',
                    pTaskNo:'',
                    pTaskNm:'',
                    message:''
                },
                addNewMessage:[],
                baseM:[],
                items: '',
                arr: '' /* [{"nodeName_":'提交',"toNode_":"下一步"},{"nodeName_":'提交2',"toNode_":"下一步2"} ,{"nodeName_":'提交3',"toNode_":"下一步3"}]*/
            },
            methods: {
                getData:function (procDefId, pdNo,taskDefKey,procInsId,taskName,taskId,view) {
                    summer.showProgress();
                    var self = this;
                        ajaxRequest({
                            type: 'post',
                            url: 'appservice/sys/act/toComplete',
                            param: {
                                "procDefId": procDefId,
                                "pdNo": pdNo,
                                "taskDefKey": taskDefKey,
                                "procInsId":procInsId,
                                "taskName":taskName,
                                "taskId":taskId,
                                "status":view
                            }
                        }, function (res) {
                            summer.hideProgress();
                            console.log(res);
                            if (res.data.flag == 1) {
                                self.items = res.data.datas.historyFlow;
                                self.arr = res.data.datas.btns;
                                self.baseM = res.data.datas.actMsgList;
                                self.newMessageInfo.pdNo = res.data.datas.act.pdNo;
                                self.newMessageInfo.pInstId = res.data.datas.act.procInsId;
                                self.newMessageInfo.pTaskNo = res.data.datas.act.taskDefKey;
                                self.newMessageInfo.pTaskNm = res.data.datas.act.taskName;
                                console.log(res);
                            }
                        }, function (err) {
                            alert(err);
                            console.log(err);
                            summer.hideProgress();
                        });
                    // } else {
                    //     summer.hideProgress();
                    //     createNull("content", "../../img/empty.png", "暂未发起流程")
                    // }
                },
                deleteMessage:function(index){
                    this.addNewMessage.splice(index,1);
                    return;
                },
                deleteReal:function(id){
                    var  self = this;
                    ajaxRequest({
                        type: 'post',
                        url: 'appservice/sys/act/delMsg',
                        param: {
                            id:id
                        }
                    }, function (res) {
                        summer.hideProgress();
                        if (res.data.flag == 1) {
                            summer.toast({
                                msg: "删除成功"
                            });
                           self.getData(self.initMessage.procDefId,self.initMessage.pdNo,self.initMessage.taskDefKey,self.initMessage.procInsId,self.initMessage.taskName,self.initMessage.taskId,self.initMessage.view);
                        }else{
                            summer.toast({
                                msg: "删除失败"
                            });  
                        } 
                    }, function (err) {
                        summer.toast({
                                msg: "删除失败"
                            });  
                        summer.hideProgress();
                        console.log(err);
                    });
                },
                addMessage:function(){
                    this.addNewMessage.push({
                        message:'',
                        pdNo:this.newMessageInfo.pdNo,
                        pInstId:this.newMessageInfo.pInstId,
                        pTaskNo:this.newMessageInfo.pTaskNo,
                        pTaskNm:this.newMessageInfo.pTaskNm,
                    });
                    return;
                },
                saveMessage:function(index){
                    var self = this;
                    if(this.addNewMessage[index].message == ""){
                        summer.toast({
                            msg:"请输入留言信息"
                        });
                        return;
                    }
                    ajaxRequest({
                        type: 'post',
                        url: 'appservice/sys/act/addMsg',
                        param: this.addNewMessage[index]
                    }, function (res) {
                        summer.hideProgress();
                        if (res.data.flag == 1) {
                            summer.toast({
                                msg: "添加成功"
                            });
                            self.addNewMessage.splice(index,1);
                            self.getData(self.initMessage.procDefId,self.initMessage.pdNo,self.initMessage.taskDefKey,self.initMessage.procInsId,self.initMessage.taskName,self.initMessage.taskId,self.initMessage.view);
                        }  
                    }, function (err) {
                        summer.hideProgress();
                        console.log(err);
                    });
                },
                doAction: function(){
                    var self = this;
                    ajaxRequest({
                        type: 'post',
                        url: 'appservice/sys/act/complete',
                        param: {
                            "flag": self.flag,
                            "taskId": self.initMessage.taskId,
                            "procInsId": self.initMessage.procInsId,
                            "taskDefKey": self.initMessage.taskDefKey,
                            "taskDealType":self.taskDealType,
                            "taskDealReason":self.taskDealReason,
                            "taskDealReasonCd":self.taskDealReasonCd,
                            "comment":  self.commontMessage,
                        }
                    }, function (res) {
                        summer.hideProgress();
                        if (res.data.flag == 1) {
                            summer.toast({
                                msg: "处理成功"
                            });
                            summer.execScript({
                                winId: "missionIndex",
                                frameId: 'missionList',
                                script: " getData('1', 'true');"
                            });
                            // summer.execScript({
                            //     winId: "homePage",
                            //     script: " getMissionData();"
                            // });
                            summer.closeWin();
                            console.log(res);
                        } else if (res.data.flag == 0) {
                            summer.toast({
                                msg: res.data.msg
                            });
                        }
                    }, function (err) {
                        summer.hideProgress();
                        console.log(err);
                    });
                },
                submitMission:function (label, value,isNeedTypeAndReason) {
                    this.flag = value;
                    summer.showProgress();
                    var self = this;
                    if(isNeedTypeAndReason){
                        ajaxRequest({
								type:'post',
								url:'appservice/sys/act/selectTypeAndReason',
								param:{
									flag:value,
									taskDefKey:self.initMessage.taskDefKey
								},
							},function(res){
                                summer.hideProgress();
								 if(res.data.flag==1){
                                     var titleType = res.data.datas.typeTitle;
                                     var reasonTitle = res.data.datas.reasonTitle;
                                     var typeList = res.data.datas.types;
                                     var reasonList = res.data.datas.reasons;
                                    summer.openWin({
                                        id: 'doTypeList',
                                        url: 'html/mission/doTypeList.html',
                                        create: false,
                                        type: 'actionBar',
                                        pageParam: {
                                            reasonTitle:reasonTitle,
                                            typeList:typeList,
                                            reasonList:reasonList
                                        },
                                        actionBar: {
                                            title:titleType,
                                            titleColor: "#ffffff",
                                            backgroundColor: "#039BE5",
                                            leftItem: {
                                                image: "img/back.png",
                                                method: '',
                                                text: "返回",
                                                textColor: "#ffffff"
                                            }
                                        }
                                    })
                                 }else{
                                     summer.toast({
                                         msg:res.data.msg
                                     });
                                 }
                                
						
							},function(err){
                                summer.toast({
                                    msg:"处理失败，请联系管理员"
                                });
                                summer.hideProgress();
								console.log("err",err);
							})
                    }else{
                        ajaxRequest({
                        type: 'post',
                        url: 'appservice/sys/act/complete',
                        param: {
                            "flag": value,
                            "taskId": self.initMessage.taskId,
                            "procInsId": self.initMessage.procInsId,
                            "taskDefKey": self.initMessage.taskDefKey,
                            "comment":  self.commontMessage,
                        }
                    }, function (res) {
                        summer.hideProgress();
                        if (res.data.flag == 1) {
                            summer.toast({
                                msg: "处理成功"
                            });
                            // summer.execScript({
                            //     winId: "missionIndex",
                            //     frameId: 'missionList',
                            //     script: " getData('1', 'true');"
                            // });
                            // summer.execScript({
                            //     winId: "homePage",
                            //     script: " getMissionData();"
                            // });
                            summer.closeWin();
                            console.log(res);
                        } else if (res.data.flag == 0) {
                            summer.toast({
                                msg: res.data.msg
                            });
                        }
                    }, function (err) {
                        summer.hideProgress();
                        console.log(err);
                    });
                }
                    
                }
            }
        });

    </script>
</body>

</html>