<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="../../css/iuapmobile.um.css">
	<link rel="stylesheet" href="../../css/fonts/iconfont.css">
	<link rel="stylesheet" href="projectDetail.css">
	<script src="../../js/summer.js"></script>
	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/font.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/common.js"></script>
</head>

<body>
	<div class="um-win" id="index">
        <div class="um-content addCar" v-cloak>
            <div class="um-list-item-bodys" data-type="JXS" @click="openInfo()">
                经销商信息
                <span class="frp">
                    <i class="icon iconfont icon-enter"></i>
                </span>
            </div>
            <div class="um-list-item-bodys" data-type="KH" @click="openInfo()">
                客户信息
                <span class="frp">
                    <i class="icon iconfont icon-enter"></i>
                </span>
            </div>
            <div class="um-list-item-bodys" data-type="BJ" @click="openInfo()">
                工作背景
                <span class="frp">
                    <i class="icon iconfont icon-enter"></i>
                </span>
            </div>
            <div class="um-list-item-bodys" data-type="PO" @click="openInfo()" v-if="datas.condition && datas.condition.showSocial">
                配偶信息
                <span class="frp">
                    <i class="icon iconfont icon-enter"></i>
                </span>
            </div>
            <div class="um-list-item-bodys" data-type="JJ" @click="openInfo()">
                紧急联系人信息
                <span class="frp">
                    <i class="icon iconfont icon-enter"></i>
                </span>
            </div>
            <div class="um-list-item-bodys" data-type="DKK" @click="openInfo()">
                客户代扣卡信息
                <span class="frp" @click="changeDKK()">
                    <i class="oZF icon iconfont icon-modify" v-if="datas.condition && datas.condition.allowEditBank"></i>&nbsp;
                    <i class="icon iconfont icon-enter"></i>
                </span>
            </div>
            <div class="um-list-item-bodys" data-type="CL" @click="openInfo()">
                车辆信息
                <span class="frp" @click="changeCL()">
                    <i class="oZF icon iconfont icon-modify" v-if="datas.condition && datas.condition.allowEditEqu"></i>&nbsp;
                    <i class="icon iconfont icon-enter"></i>
                </span>
            </div>
            <div class="um-list-item-bodys" data-type="ZL" @click="openInfo()">
                租赁信息
                <span class="frp">
                    <i class="icon iconfont icon-enter"></i>
                </span>
            </div>
            <div class="um-list-item-bodys" data-type="FK" @click="openInfo()">
                风控资料
                <span class="frp">
                    <i class="icon iconfont icon-enter"></i>
                </span>
            </div>
            <div class="um-list-item-bodys" data-type="GR" @click="openInfo()" v-if="datas.condition && datas.condition.warrTyp == '1'">
                个人担保人
                <span class="frp">
                    <i class="icon iconfont icon-enter"></i>
                </span>
            </div>
            <div class="um-list-item-bodys" data-type="QY" @click="openInfo()" v-if="datas.condition && datas.condition.warrTyp == '2'">
                企业担保人
                <span class="frp">
                    <i class="icon iconfont icon-enter"></i>
                </span>
            </div>
            <div class="um-list-item-bodys" data-type="SQ" @click="openInfo()" v-if="datas.condition && datas.condition.isSupper">
                申请单附件
                <span class="frp">
                    <i class="icon iconfont icon-enter"></i>
                </span>
            </div>
            <div class="um-list-item-bodys" data-type="SP" @click="openInfo()" v-if="datas.condition && datas.condition.showLic">
                上牌信息
                <span class="frp" @click="changeSP()">
                    <i class="oZF icon iconfont icon-modify" v-if="datas.condition && datas.condition.allowEditLic"></i>&nbsp;
                    <i class="icon iconfont icon-enter"></i>
                </span>
            </div>
            <div class="um-list-item-bodys" data-type="DY" @click="openInfo()" v-if="datas.condition && datas.condition.showMtg">
                抵押信息
                <span class="frp" @click="changeDY()">
                    <i class="oZF icon iconfont icon-modify" v-if="datas.condition && datas.condition.allowEditMtg"></i>&nbsp;
                    <i class="icon iconfont icon-enter"></i>
                </span>
            </div>
            <div class="um-list-item-bodys" data-type="GPS" @click="openInfo()" v-if="datas.condition && datas.condition.showGps">
                GPS信息
                <span class="frp" @click="changeGPS()">
                    <i class="oZF icon iconfont icon-modify" v-if="datas.condition && datas.condition.allowEditGps"></i>&nbsp;
                    <i class="icon iconfont icon-enter"></i>
                </span>
            </div>
            <div class="um-list-item-bodys" data-type="FS" @click="openInfo()" v-if="datas.condition && datas.condition.showReview">
                复审批复信息
                <span class="frp" @click="changeFS()">
                    <i class="oZF icon iconfont icon-modify" v-if="datas.condition && datas.condition.allowEditReview"></i>&nbsp;
                    <i class="icon iconfont icon-enter"></i>
                </span>
            </div>
            <div class="um-list-item-bodys" data-type="CZR" @click="openInfo()" v-if="datas.condition && datas.condition.showCoLessee">
                共同承租人信息
                <span class="frp" @click="changeCZR()">
                    <i class="oZF icon iconfont icon-modify" v-if="datas.condition && datas.condition.allowEditCoLessee"></i>&nbsp;
                    <i class="icon iconfont icon-enter"></i>
                </span>
            </div>
        </div>
        <div class="um-footer" v-if="datas.condition && datas.condition.isAllowEditPrj">
            <button type="button" @click="">修改</button>
        </div>
	</div>
	<script type="text/javascript">
		var projectDetail = new Vue({
			el: '#index',
			data: {
				procInsId: "",
                taskDefKey: "",
                link: "",
                view: "",
                datas: {}
			},
            methods: {
                getURL: function () {
                    var self = this;
                    summer.showProgress();
					ajaxRequest({
						type: 'post',
						url: 'appservice/sys/act/pdFormLink',
						param: {
                            procInsId: this.procInsId,  
                            taskDefKey: this.taskDefKey
						}
					}, function(res) {
						var Data = res.data;
						if (Data.flag == 1) {
                            self.link = 'appservice' + Data.datas.link;
                            self.getList();
						} else {
							summer.toast({
								msg: "获取信息失败"
							});
						}
					}, function(err) {
						summer.hideProgress();
						summer.toast({
							msg: "获取信息失败"
						});
					});
                },
                getList: function () {
                    var self = this;
                    ajaxRequest({
						type: 'post',
						url: this.link,
						param: {
                            procInsId: this.procInsId,  
                            taskDefKey: this.taskDefKey,
                            // procInsId: "101215",  
                            // taskDefKey: "prj_hetongqianshu",
                            status: this.view // 处理时传空，查看时传递view
						}
					}, function(res) {
                        summer.hideProgress();
						var Data = res.data;
						if (Data.flag == 1) {
                            self.datas = Data.datas
						} else {
							summer.toast({
								msg: "获取信息失败"
							});
						}
					}, function(err) {
						summer.hideProgress();
						summer.toast({
							msg: "获取信息失败"
						});
					});
                },
                openInfo: function (ev) {
                    var ev = ev || window.event;
                    var itemType = ev.currentTarget.dataset.type;
                    var url = "";
                    var title = "";
                    var pageId = "";
                    switch (itemType) {
                        case 'JXS':
                            url = "html/mission/JXSInfoPage.html";
                            title = "经销商信息";
                            pageId = "JXSInfoPage";
                            break;
                        case 'KH':
                            url = "html/mission/KHInfoPage.html";
                            title = "客户信息";
                            pageId = "KHInfoPage";
                            break;
                        case 'BJ':
                            url = "html/mission/BJInfoPage.html";
                            title = "工作背景";
                            pageId = "BJInfoPage";
                            break;
                        case 'PO':
                            url = "html/mission/POInfoPage.html";
                            title = "配偶信息";
                            pageId = "POInfoPage";
                            break;
                        case 'JJ':
                            url = "html/mission/JJInfoPage.html";
                            title = "紧急联系人信息";
                            pageId = "JJInfoPage";
                            break;
                        case 'DKK':
                            url = "html/mission/DKKInfoPage.html";
                            title = "客户代扣卡信息";
                            pageId = "DKKInfoPage";
                            break;
                        case 'CL':
                            url = "html/mission/CLInfoPage.html";
                            title = "车辆信息";
                            pageId = "CLInfoPage";
                            break;
                        case 'ZL':
                            url = "html/mission/ZLInfoPage.html";
                            title = "租赁信息";
                            pageId = "ZLInfoPage";
                            break;
                        case 'FK':
                            url = "html/mission/FKInfoPage.html";
                            title = "风控资料";
                            pageId = "FKInfoPage";
                            break;
                        case 'GR':
                            url = "html/mission/GRInfoPage.html";
                            title = "个人担保人";
                            pageId = "GRInfoPage";
                            break;
                        case 'QY':
                            url = "html/mission/QYInfoPage.html";
                            title = "企业担保人";
                            pageId = "QYInfoPage";
                            break;
                        case 'SQ':
                            url = "html/mission/SQInfoPage.html";
                            title = "申请单附件";
                            pageId = "SQInfoPage";
                            break;
                        case 'SP':
                            url = "html/mission/SPInfoPage.html";
                            title = "上牌信息";
                            pageId = "SPInfoPage";
                            break;
                        case 'DY':
                            url = "html/mission/DYInfoPage.html";
                            title = "抵押信息";
                            pageId = "DYInfoPage";
                            break;
                        case 'GPS':
                            url = "html/mission/GPSInfoPage.html";
                            title = "GPS信息";
                            pageId = "GPSInfoPage";
                            break;
                        case 'FS':
                            url = "html/mission/FSInfoPage.html";
                            title = "复审批复信息";
                            pageId = "FSInfoPage";
                            break;
                        case 'CZR':
                            url = "html/mission/CZRInfoPage.html";
                            title = "共同承租人信息";
                            pageId = "CZRInfoPage";
                            break;
                        default:
                            break;
                    }
                    summer.openWin({
                        id: pageId,
                        url: url,
                        create: false,
                        type: 'actionBar',
                        actionBar: {
                            title: title,
                            titleColor: "#ffffff", //注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            backgroundColor: "#039be5",
                            leftItem: {
                                image: "img/back.png",
                                method: "", //返回按钮自定义事件
                                text: "返回",
                                textColor: "#ffffff" //返回文字颜色，注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            }
                        },
                        pageParam: {
                            datas: this.datas
                        }
                    });
                },
                changeDKK: function (ev) {
                    var ev = ev || window.event;
                    ev.cancelBubble = true;
                    if (!this.datas.condition || !this.datas.condition.allowEditBank) {
                        return;
                    }
                    summer.openWin({
                        id: 'DKKInfoPage',
                        url: 'html/mission/DKKInfoPage.html',
                        create: false,
                        type: 'actionBar',
                        actionBar: {
                            title: "客户代扣卡信息",
                            titleColor: "#ffffff", //注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            backgroundColor: "#039be5",
                            leftItem: {
                                image: "img/back.png",
                                method: "", //返回按钮自定义事件
                                text: "返回",
                                textColor: "#ffffff" //返回文字颜色，注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            },
                            rightItems: [{
                                type: "text",
                                text: "保存",
                                textColor: "#ffffff",
                                method: "DKKInfoPage.save()"
                            }]
                        },
                        pageParam: {
                            datas: this.datas,
                            pageType: 'change'
                        }
                    });
                },
                changeCL: function (ev) {
                    var ev = ev || window.event;
                    ev.cancelBubble = true;
                    if (!this.datas.condition || !this.datas.condition.allowEditEqu) {
                        return;
                    }
                    summer.openWin({
                        id: 'CLInfoPage',
                        url: 'html/mission/CLInfoPage.html',
                        create: false,
                        type: 'actionBar',
                        actionBar: {
                            title: "车辆信息",
                            titleColor: "#ffffff", //注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            backgroundColor: "#039be5",
                            leftItem: {
                                image: "img/back.png",
                                method: "", //返回按钮自定义事件
                                text: "返回",
                                textColor: "#ffffff" //返回文字颜色，注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            },
                            rightItems: [{
                                type: "text",
                                text: "保存",
                                textColor: "#ffffff",
                                method: "CLInfoPage.save()"
                            }]
                        },
                        pageParam: {
                            datas: this.datas,
                            pageType: 'change'
                        }
                    });
                },
                changeSP: function (ev) {
                    var ev = ev || window.event;
                    ev.cancelBubble = true;
                    if (!this.datas.condition || !this.datas.condition.allowEditLic) {
                        return;
                    }
                    summer.openWin({
                        id: 'SPInfoPage',
                        url: 'html/mission/SPInfoPage.html',
                        create: false,
                        type: 'actionBar',
                        actionBar: {
                            title: "上牌信息",
                            titleColor: "#ffffff", //注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            backgroundColor: "#039be5",
                            leftItem: {
                                image: "img/back.png",
                                method: "", //返回按钮自定义事件
                                text: "返回",
                                textColor: "#ffffff" //返回文字颜色，注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            },
                            rightItems: [{
                                type: "text",
                                text: "保存",
                                textColor: "#ffffff",
                                method: "SPInfoPage.save()"
                            }]
                        },
                        pageParam: {
                            datas: this.datas,
                            pageType: 'change'
                        }
                    });
                },
                changeDY: function (ev) {
                    var ev = ev || window.event;
                    ev.cancelBubble = true;
                    if (!this.datas.condition || !this.datas.condition.allowEditMtg) {
                        return;
                    }
                    summer.openWin({
                        id: 'DYInfoPage',
                        url: 'html/mission/DYInfoPage.html',
                        create: false,
                        type: 'actionBar',
                        actionBar: {
                            title: "抵押信息",
                            titleColor: "#ffffff", //注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            backgroundColor: "#039be5",
                            leftItem: {
                                image: "img/back.png",
                                method: "", //返回按钮自定义事件
                                text: "返回",
                                textColor: "#ffffff" //返回文字颜色，注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            },
                            rightItems: [{
                                type: "text",
                                text: "保存",
                                textColor: "#ffffff",
                                method: "DYInfoPage.save()"
                            }]
                        },
                        pageParam: {
                            datas: this.datas,
                            pageType: 'change'
                        }
                    });
                },
                changeGPS: function () {
                    var ev = ev || window.event;
                    ev.cancelBubble = true;
                    if (!this.datas.condition || !this.datas.condition.allowEditGps) {
                        return;
                    }
                    summer.openWin({
                        id: 'GPSInfoPage',
                        url: 'html/mission/GPSInfoPage.html',
                        create: false,
                        type: 'actionBar',
                        actionBar: {
                            title: "GPS信息",
                            titleColor: "#ffffff", //注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            backgroundColor: "#039be5",
                            leftItem: {
                                image: "img/back.png",
                                method: "", //返回按钮自定义事件
                                text: "返回",
                                textColor: "#ffffff" //返回文字颜色，注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            },
                            rightItems: [{
                                type: "text",
                                text: "保存",
                                textColor: "#ffffff",
                                method: "GPSInfoPage.save()"
                            }]
                        },
                        pageParam: {
                            datas: this.datas,
                            pageType: 'change'
                        }
                    });
                },
                changeFS: function () {
                    var ev = ev || window.event;
                    ev.cancelBubble = true;
                    if (!this.datas.condition || !this.datas.condition.allowEditReview) {
                        return;
                    }
                    summer.openWin({
                        id: 'FSInfoPage',
                        url: 'html/mission/FSInfoPage.html',
                        create: false,
                        type: 'actionBar',
                        actionBar: {
                            title: "复审批复信息",
                            titleColor: "#ffffff", //注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            backgroundColor: "#039be5",
                            leftItem: {
                                image: "img/back.png",
                                method: "", //返回按钮自定义事件
                                text: "返回",
                                textColor: "#ffffff" //返回文字颜色，注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            },
                            rightItems: [{
                                type: "text",
                                text: "保存",
                                textColor: "#ffffff",
                                method: "FSInfoPage.save()"
                            }]
                        },
                        pageParam: {
                            datas: this.datas,
                            pageType: 'change'
                        }
                    });
                },
                changeCZR: function () {
                    var ev = ev || window.event;
                    ev.cancelBubble = true;
                    if (!this.datas.condition || !this.datas.condition.allowEditCoLessee) {
                        return;
                    }
                    summer.openWin({
                        id: 'CZRInfoPage',
                        url: 'html/mission/CZRInfoPage.html',
                        create: false,
                        type: 'actionBar',
                        actionBar: {
                            title: "共同承租人信息",
                            titleColor: "#ffffff", //注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            backgroundColor: "#039be5",
                            leftItem: {
                                image: "img/back.png",
                                method: "", //返回按钮自定义事件
                                text: "返回",
                                textColor: "#ffffff" //返回文字颜色，注意必须是6位数的颜色值。（3位数颜色值会不正常）
                            },
                            rightItems: [{
                                type: "text",
                                text: "保存",
                                textColor: "#ffffff",
                                method: "CZRInfoPage.save()"
                            }]
                        },
                        pageParam: {
                            datas: this.datas,
                            pageType: 'change'
                        }
                    });
                }
            }
		});
		summerready = function() {
            projectDetail.procInsId = summer.pageParam.procInsId;
			projectDetail.taskDefKey = summer.pageParam.taskDefKey;
            projectDetail.view = summer.pageParam.view ? summer.pageParam.view : "";
            projectDetail.getURL();
		};
	</script>
</body>

</html>
