.um-list-item-bodys {
    align-self: center;
    line-height: .46rem;
    padding: 0.2rem 0.55rem 0.2rem 0.56rem;
    font-size: 0.32rem;
    color: #333;
    border-bottom: 1px solid #EFEFEF;
    background: #fff;
    position: relative;
    display: flex;
    align-items: center;
}

.frp {
    position: absolute;
    right: .6rem;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.iconfont.icon-modify {
    font-size: 20px;
    color: #039BE5;
    margin-right: 0.2rem;
}

.iconfont.icon-right.active {
    display: inline-block;
}

.iconfont.icon-enter.active {
    display: none;
}

i {
    color: #DBDBDB;
}

.um-footer {
    background: #f6f6f6;
    border: 0;
    height: 0.9rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.um-footer button {
    width: 6.34rem;
    height: 80%;
    border-radius: 0.1rem;
    background: #039be5;
    color: #fff;
    font-size: 0.32rem;
    border: 0;
    outline: none;
}