<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/iuapmobile.um.css">
    <link rel="stylesheet" href="../../css/fonts/iconfont.css">
    <link rel="stylesheet" href="./commonInfoPage.css">
    <link rel="stylesheet" href="../../css/mint.css">
    <script src="../../js/summer.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
    <script src="../../js/font.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/mint.js"></script>
    <script src="../../js/common.js"></script>
</head>

<body>
    <div class="um-win" id="index">
        <div class="um-content" v-cloak>
            <ul class="loanList">
                <li @click="surePickerBirthday">
                    <span>上牌时间</span>
                    <div v-if="pageType == 'change' && datas.licDt != ''">{{datas.licDt}}</div>
                    <div v-else-if="pageType == 'change' && datas.licDt == ''" style = "color: #999;">请选择</div>
                    <div v-else>{{ datas.licDt }}</div>
                </li>
                <li>
                    <span>上牌地点</span>
                    <input type="text" placeholder="请输入" v-model="datas.licPlc" v-if="pageType == 'change'" />
                    <div v-else>{{ datas.licPlc }}</div>
                </li>
                <li>
                    <span>车牌号</span>
                    <input type="text" placeholder="请输入" v-model="datas.licNm" v-if="pageType == 'change'" />
                    <div v-else>{{ datas.licNm }}</div>
                </li>
                <li>
                    <span>备注</span>
                    <input type="text" placeholder="请输入" v-model="datas.remarks" v-if="pageType == 'change'" />
                    <div v-else>{{ datas.remarks }}</div>
                </li>
            </ul>
            <!-- 日期 -->
            <mt-datetime-picker 
                ref="picker" 
                v-model="pickerValue" 
                type="date" 
                cancel-text='取消' 
                confirm-text='确定' 
                :start-date='new Date("1950-01-01")'
                :end-date="new Date()" 
                @confirm="handleConfirm"
            ></mt-datetime-picker>
        </div>
    </div>
    <script type="text/javascript">
        var SPInfoPage = new Vue({
            el: '#index',
            data: {
                datas: {
                    licDt: "",
                    licPlc: "",
                    licNm: "",
                    remarks: ""
                },
                pageType: "",
                CAR_ID: "",
                ID: "",
                // 日期
                pickerBirthday: false,
                pickerValue: new Date(),
            },
            methods: {
                // 日期更改
                surePickerBirthday: function () {
					this.pickerBirthday = !this.pickerBirthday;
					this.$refs.picker.open();
				},
                handleConfirm: function (pickerValue) {
                    this.pickerValue = pickerValue;
                    var result = this.getFormatDate(pickerValue);
                    this.datas.licDt = result;
                },
                getFormatDate: function (date) {
                    var date = new Date(date),
                        seperator1 = "-";
                    var year = date.getFullYear(),
                        month = date.getMonth() + 1,
                        strDate = date.getDate();
                    if (month >= 1 && month <= 9) {
                        month = "0" + month;
                    }
                    if (strDate >= 0 && strDate <= 9) {
                        strDate = "0" + strDate;
                    }
                    return year + '-' + month + '-' + strDate;
                },
                getData: function () {
                    summer.showProgress();
                    var self = this;
                    ajaxRequest({
                        type: 'post',
                        url: 'appservice/project/act/loadLic',
                        param: {
                            prjEqiDtl: {
                                id: this.CAR_ID
                            }
                        }
                    }, function (res) {
                        summer.hideProgress();
                        var Data = res.data;
                        if (Data.flag == 1) {
                            self.ID = Data.datas.lic.id ? Data.datas.lic.id : "";
                            self.datas.licDt = Data.datas.lic.licDt ? Data.datas.lic.licDt : "";
                            self.datas.licPlc = Data.datas.lic.licPlc ? Data.datas.lic.licPlc : "";
                            self.datas.licNm = Data.datas.lic.licNm ? Data.datas.lic.licNm : "";
                            self.datas.remarks = Data.datas.lic.remarks ? Data.datas.lic.remarks : "";
                        } else {
                            summer.toast({
                                msg: "获取信息失败"
                            });
                        }
                    }, function (err) {
                        summer.hideProgress();
                        summer.toast({
                            msg: "获取信息失败"
                        });
                    });
                },
                save: function () {
                    summer.showProgress();
                    var self = this;
                    ajaxRequest({
                        type: 'post',
                        url: 'appservice/project/act/saveLic',
                        param: {
                            id: this.ID,
                            prjEqiDtl: {
                                id: this.CAR_ID
                            },
                            licDt: this.datas.licDt,
                            licPlc: this.datas.licPlc,
                            licNm: this.datas.licNm,
                            remarks: this.datas.remarks
                        }
                    }, function (res) {
                        summer.hideProgress();
                        var Data = res.data;
                        if (Data.flag == 1) {
                            summer.toast({
                                msg: "保存成功"
                            });
                            summer.execScript({
                                winId: 'missionInfo',
                                frameId: 'projectDetail',
                                script: 'projectDetail.getList()'
                            });
                            summer.closeWin();
                        } else {
                            summer.toast({
                                msg: "保存失败"
                            });
                        }
                    }, function (err) {
                        summer.hideProgress();
                        summer.toast({
                            msg: "保存失败"
                        });
                    });
                }
            }
        });
        summerready = function () {
            SPInfoPage.pageType = summer.pageParam.pageType ? summer.pageParam.pageType : "";
            SPInfoPage.CAR_ID = summer.pageParam.datas.CAR_ID ? summer.pageParam.datas.CAR_ID : "";
            if (summer.pageParam.pageType && summer.pageParam.pageType == 'change') {
                SPInfoPage.getData();
            } else {
                SPInfoPage.datas.licDt = summer.pageParam.datas.prjEqiLic ? summer.pageParam.datas.prjEqiLic.licDt : "";
                SPInfoPage.datas.licPlc = summer.pageParam.datas.prjEqiLic ? summer.pageParam.datas.prjEqiLic.licPlc : "";
                SPInfoPage.datas.licNm = summer.pageParam.datas.prjEqiLic ? summer.pageParam.datas.prjEqiLic.licNm : "";
                SPInfoPage.datas.remarks = summer.pageParam.datas.prjEqiLic ? summer.pageParam.datas.prjEqiLic.remarks : "";
            }
        };
    </script>
</body>

</html>