<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../css/iuapmobile.um.css">
		<link rel="stylesheet" href="../../css/mint.css">
		<link rel="stylesheet" href="../../css/fonts/iconfont.css">
		<link rel="stylesheet" href="./quotedPrice.min.css">
		<script src="../../js/summer.js" ></script>
		<script src="../../js/jquery.min.js" ></script>
		<script src="../../js/font.js" ></script>
		<script src="../../js/vue.js" ></script>
		<script src="../../js/mint.js" ></script>
		<script src="../../js/common.js" ></script>
		<script src="../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
	</head>
	<body>
		<div class="um-win" id="quotedPriceDetail" v-cloak>
			<div class="um-content quotedPriceDetail">
				<ul>
					<li v-if="!prjId" class="input">
						<b>车辆单价</b>
						<span>
							<input type="text" v-model="allPrice" @input="checkVal('allPrice')" placeholder="请输入车辆单价" name="allPrice">&nbsp;元
						</span>
					</li>
					<li @click="pickerScheme" v-if="pickerSchemeList[0].values.length>1">
						<b>产品方案</b>
						<span>
							<b v-if="SCHEME_NAME">{{SCHEME_NAME}}</b>
							<b v-else class="default">请选择</b>
							<i class="icon iconfont icon-enter"></i>
						</span>
					</li>
					<li v-else>
						<b>产品方案</b>
						<span>
							<b>{{SCHEME_NAME}}</b>
						</span>
					</li>
					<!-- <li class="input" v-if="lsPdStatus">
						<b>还款期限</b>
						<span>
							{{lsPd}}&nbsp;
						</span>
					</li> -->
					<li class="input">
						<b>还款期限</b>
						<span>
							<input type="text" v-model="lsPd" @input="checkVal('lsPd')" placeholder="请输入还款期限" name="lsPd">&nbsp;
						</span>
					</li>
					<li @click="pickLspd('lspd')"  class="spec" v-if="LspdList.length>1">
						<b>还款期限单位</b>
						<span>
							<b v-if="lsPdUntCdName">{{lsPdUntCdName}}</b>
							<b v-else class="default">请选择</b>
							<i class="icon iconfont icon-enter"></i>
						</span>
					</li>
					<li v-else class="spec">
						<b>还款期限单位</b>
						<span>
							<b>{{lsPdUntCdName}}</b>
						</span>
					</li>
					<li @click="pickLspd('yearRate')" v-if="AnnIntRatePctList.length>1">
						<b>贷款年利率</b>
						<span>
							<b v-if="annIntRatePct">{{annIntRatePct}}&nbsp;%</b>
							<b v-else class="default">请选择</b>
							<i class="icon iconfont icon-enter"></i>
						</span>
					</li>
					<li v-else>
						<b>贷款年利率</b>
						<span>
							<b>{{annIntRatePct}}&nbsp;%</b>
						</span>
					</li>
					<li>
						<b>基础年利率</b>
						<span>
							<b>{{defAnnIntRatePct}}&nbsp;%</b>
						</span>
					</li>
					<li @click="pickLspd('payType')">
						<b>支付方式</b>
						<span>
							<b v-if="payWay">{{payWay}}</b>
							<b v-else class="default">请选择</b>
							<i class="icon iconfont icon-enter"></i>
						</span>
					</li>
					<!-- <li v-if='hirePctStatue'>
						<b>首付款</b>
						<span>
							<b>{{hirePct}}&nbsp;% &nbsp;&nbsp;&nbsp;{{hirePctMoney}}&nbsp;元</b>
						</span>
					</li> -->
					<li @click="sureFristPay">
						<b>首付款</b>
						<span>
							<b v-if="hirePct">{{hirePct}}&nbsp;% &nbsp;&nbsp;&nbsp;{{hirePctMoney}}&nbsp;元</b>
							<b v-else class="default">请选择</b>
							<i class="icon iconfont icon-enter"></i>
						</span>
					</li>
					<!-- <li v-if="bailPctStatue">
						<b>保证金</b>
						<span>
							<b>{{bailPct}}&nbsp;% &nbsp;&nbsp;&nbsp;{{bailPctMoney}}&nbsp;元</b>
						</span>
					</li> -->
					<li @click="sureBail">
						<b>保证金</b>
						<span>
							<b v-if="bailPct">{{bailPct}}&nbsp;% &nbsp;&nbsp;&nbsp;{{bailPctMoney}}&nbsp;元</b>
							<b v-else class="default">请选择</b>
							<i class="icon iconfont icon-enter"></i>
						</span>
					</li>
					<li class='input'>
						<b>咨询服务费</b>
						<span>
							<input type="text" @input="checkVal('groessPrice')" placeholder="请输入手续费" name="groessPrice" v-model="groessPrice">&nbsp;元
						</span>
					</li>
					<li class='input spec'>
						<b>贴息金额</b>
						<span>
							<input type="text" @input="checkVal('txJe')" placeholder="请输入贴息金额" name="txJe" v-model="txJe">&nbsp;元
						</span>
					</li>
					<li class='input' v-if='gpsInsStatus'>
						<b>GPS是否安装</b>
						<span>
							<b v-if="gpsInsName">{{gpsInsName}}</b>
						</span>
					</li>
					<li class='input' @click="pickLspd('hasGps')" v-else>
						<b>GPS是否安装</b>
						<span>
							<b v-if="gpsInsName">{{gpsInsName}}</b>
							<b v-else class="default">请选择</b>
							<i class="icon iconfont icon-enter"></i>
						</span>
					</li>
					<li class='input' v-if="gpsInsName=='是'" @click="sureGpsType()">
						<b>GPS类型</b>
						<span>
							<b v-if="gpsTypName">{{gpsTypName}}</b>
							<b v-else class="default">请选择</b>
							<i class="icon iconfont icon-enter"></i>
						</span>
					</li>
					<li class='input'>
						<b>GPS费</b>
						<span>
							<input type="text" @input="checkVal('gpsPrice')" placeholder="请输入GPS费" name="gpsPrice" v-model="gpsPrice">&nbsp;元
						</span>
					</li>
					<!-- <li class='input' v-if="gpsPriceStatus">
						<b>GPS费计入方式</b>
						<span>
							{{gpsPriceName}}
						</span>
					</li>
					<li class='input' @click="pickLspd('gpsPrice')" v-else>
						<b>GPS费计入方式</b>
						<span>
							<b v-if="gpsPriceName">{{gpsPriceName}}</b>
							<b v-else class="default">请选择</b>
							<i class="icon iconfont icon-enter"></i>
						</span>
					</li> -->
					<li class='input'>
						<b>购置税</b>
						<span>
							<input type="text" @input="checkVal('gouZhiPrice')" placeholder="请输入购置税" name="gouZhiPrice" v-model="gouZhiPrice">&nbsp;元
						</span>
					</li>
					<!-- <li class='input' v-if="gouZhiPriceStatus">
						<b>购置税计入方式</b>
						<span>
							{{gouZhiPriceName}}
						</span>
					</li>
					<li class='input' @click="pickLspd('gouZhiPrice')"  v-else>
						<b>购置税计入方式</b>
						<span>
							<b v-if="gouZhiPriceName">{{gouZhiPriceName}}</b>
							<b v-else class="default">请选择</b>
							<i class="icon iconfont icon-enter"></i>
						</span>
					</li> -->
					<li class='input'>
						<b>保险费</b>
						<span>
							<input type="text" @input="checkVal('safePrice')" placeholder="请输入保险费" name="safePrice" v-model="safePrice">&nbsp;元
						</span>
					</li>
					<!-- <li class='input' v-if="safePriceStatus">
						<b>保险费计入方式</b>
						<span>
							{{safePriceName}}
						</span>
					</li>
					<li class='input' @click="pickLspd('safePrice')"   v-else>
						<b>保险费计入方式</b>
						<span>
							<b v-if="safePriceName">{{safePriceName}}</b>
							<b v-else class="default">请选择</b>
							<i class="icon iconfont icon-enter"></i>
						</span>
					</li> -->
					<li class='input'>
						<b>精品装潢</b>
						<span>
							<input type="text" @input="checkVal('zhuangXiuPrice')" placeholder="请输入精品装潢费" name="zhuangXiuPrice" v-model="zhuangXiuPrice">&nbsp;元
						</span>
					</li>
					<!-- <li class='input' v-if="zhuangXiuPriceStatus">
						<b>精品装潢计入方式</b>
						<span>
							{{zhuangXiuPriceName}}
						</span>
					</li>
					<li class='input spec'  @click="pickLspd('zhuangXiuPrice')" v-else>
						<b>精品装潢计入方式</b>
						<span>
							<b v-if="zhuangXiuPriceName">{{zhuangXiuPriceName}}</b>
							<b v-else class="default">请选择</b>
							<i class="icon iconfont icon-enter"></i>
						</span>
					</li> -->
					<li><b>每期租金</b><span>{{everyPrice}}&nbsp;元</span></li>
				</ul>
      </div>
			<div class="um-footer" id="footer">
				<mt-popup v-model="pickerSchemeStatue" class="pickerPrice"  position='bottom' >
					<mt-picker value-key="schemeName" :slots="pickerSchemeList" @change="pickerSchemeChange"></mt-picker>
					<p><span class="fl" @click="pickerScheme">取消</span><span class="fr" @click="pickerScheme('confirm')">确定</span></p>
				</mt-popup>
				<mt-popup v-model="pickLspdStatus" class="pickerPrice"  position='bottom' >
					<mt-picker value-key="label" :slots="pickerLspdList" @change="pickerSchemeChange"></mt-picker>
					<p><span class="fl" @click="pickLspd()">取消</span><span class="fr" @click="pickLspd('','confirm')">确定</span></p>
				</mt-popup>
				<mt-popup v-model="firstPayStatu" class="firstPayCont" position="bottom">
					<ul v-if="moneyToRate">
						<li class="input">
							<b>首付比例</b>
							<span><input type="text" maxlength='5' @input="changeFirstPay" placeholder='请输入百分比' name="hirePct" v-model.trim="firstPayRate">&nbsp;%</span>
						</li>
						<li class="alertLi">当前为百分比计算，<button @click="moneyToRateStatus">改为金额计算</button></li>
						<li class="input">
							<b>首付款</b>
							<span>
								<b v-if="firstPay">{{firstPay}}</b>
								<b v-else class="default">自动计算</b>&nbsp;元
							</span>
						</li>
					</ul>
					<ul v-else>
						<li class="input">
							<b>首付款</b>
							<span><input type="text" @input="changeFirstPayRate" placeholder="请输入您的金额" name="firstPay" v-model.trim="firstPay">&nbsp;元</span>
						</li>
						<li class="alertLi">当前为金额计算，<button @click="moneyToRateStatus">改为百分比计算</button></li>
						<li>
							<b>首付比例</b>
							<span> <b v-if="firstPayRate">{{firstPayRate}}</b>
							<b v-else class="default">自动计算</b>&nbsp;%</span>
						</li>
					</ul>
					<p><span class="fl" @click="sureFristPay">取消</span><span class="fr" @click="sureFristPay('confirm')">确定</span></p>
				</mt-popup>
				<mt-popup v-model="bailStatue" class="firstPayCont"  position="bottom">
					<ul v-if="bailToRate">
						<li class="input">
							<b>保证金比例</b>
							<span><input type="text" maxlength='5' @input="changeBail" placeholder="请输入百分比" name="bailPct" v-model.trim="bailRate">&nbsp;%</span>
						</li>
						<li class="alertLi">当前为百分比计算，<button @click="bailToRateStatus">改为金额计算</button></li>
						<li class="input">
							<b>保证金</b>
							<span>
								<b v-if="bail">{{bail}}</b>
								<b v-else class="default">自动计算</b>&nbsp;元
							</span>
						</li>
					</ul>
					<ul v-else>
						<li class="input">
							<b>保证金金额</b>
							<span><input type="text" @input="changBailRate" placeholder="请输入您的金额" name="bail" v-model.trim="bail">&nbsp;元</span>
						</li>
						<li class="alertLi">当前为金额计算，<button @click="bailToRateStatus">改为百分比计算</button></li>
						<li>
							<b>保证金比例</b>
							<span> <b v-if="bailRate">{{bailRate}}</b>
							<b v-else class="default">自动计算</b>&nbsp;%</span>
						</li>
					</ul>
					<p><span class="fl" @click="sureBail">取消</span><span class="fr" @click="sureBail('confirm')">确定</span></p>
				</mt-popup>
				<mt-popup v-model="gpsTypStatus" class="firstPayCont"  position="bottom">
					<ul class="gpsTypeList">
						<li class="input" v-for="(item,index) in gpsTypList" @click="toggleGpsType($event,item.value,item.label)" :key="index+'item'" :class="{active:checkSelected('item.value')}">
							{{item.label}} <i class="icon iconfont icon-right"></i>
						</li>
					</ul>
					<p><span class="fl" @click="sureGpsType">取消</span><span class="fr" @click="sureGpsType('confirm')">确定</span></p>
				</mt-popup>
				<div class="bButton" v-if="!pickerSchemeStatue&&!gpsTypStatus&&!pickLspdStatus&&!firstPayStatu&&!bailStatue">
					<button @click="quotedTest">测算</button>
				</div>
			</div>
    </div>
    <script>
			summerready=function(){
				quotedVue.prjId=summer.pageParam.id;
				quotedVue.getData();
			}
			$(function(){$('body').height($('body')[0].clientHeight);});
      var quotedVue=new Vue({
          el:'#quotedPriceDetail',
          data:function(){
            return {
							isTest:false,
							prjId:'',
							SCHEME_NAME:'',
							SCHEME_NAME_ID:'',
							pickerSchemeStatue:false,
							pickingObj:{},
							pickerSchemeList:[{
								flex: 1,
								values: [],
								defaultIndex:0,
								className: 'slot1',
								textAlign: 'center'
							}],
							currentName:'',
							lsPd:'',
							lsPdStatus:false,
							lsPdUntCd:'',
							lsPdUntCdName:'',
							pickLspdStatus:false,
							LspdList:[],
							pickerLspdList:[{
								flex: 1,
								values: [],
								defaultIndex:0,
								className: 'slot1',
								textAlign: 'center'
							}],
							annIntRatePct:'',
							defAnnIntRatePct:'',
							listYearRate:[],
							AnnIntRatePctList:[],
							payWayCd:'',
							payWay:'',
							pickerPayWayList:[],
							firstPayStatu:false,
							bailStatue:false,
							firstPay:'',
							firstPayRate:'',
							hirePct:'',
							hirePctMoney:'',
							hirePctStatue:false,
							bail:'',
							bailRate:'',
							bailPct:'',
							bailPctStatue:false,
							bailPctMoney:'',
							txJe:'',
							groessPrice:'',

							gpsIns:'',
							gpsInsStatus:false, //字典一个值为true
							gpsInsName:'',
							pickerGpsInsList:[
								{label:'是',value:1},
								{label:'否',value:2}
							],

							gpsTyp:'',
							gpsTypStatus:false,
							gpsTypName:'',
							selectdGpsArr:[],
							gpsTypList:[
								{label:'明',value:1},
								{label:'暗',value:2}
							],

							gpsPrice:'',
							gpsPriceStatus:'',
							gpsPriceId:'',
							gpsPriceName:'',
							gouZhiPrice:'',
							gouZhiPriceStatus:'',
							gouZhiPriceId:'',
							gouZhiPriceName:'',
							safePrice:'',
							safePriceStatus:'',
							safePriceId:'',
							safePriceName:'',
							zhuangXiuPrice:'',
							zhuangXiuPriceStatus:'',
							zhuangXiuPriceId:'',
							zhuangXiuPriceName:'',

							pickerCntWayList:[
								{label:'融资额',value:2},
								{label:'首付款',value:1}
							],
							allPrice:'',
							everyPrice:'',

							cntWaySlots:[{
								flex: 1,
								values: [],
								defaultIndex:0,
								className: 'slot1',
								textAlign: 'center'
							}],
							moneyToRate:true,
							bailToRate:true,

            }
          },
					computed:{
						slots:function(){
							var pickerObj={
								flex: 1,
								values: [],
								defaultIndex:0,
								className: 'slot1',
								textAlign: 'center'
							},i='';

							if(i>-1){pickerObj.defaultIndex=i}
							return [pickerObj]
						}
					},
					methods:{
						changBailRate:function(){
							var val=this.bail
							if(!/^([1-9]\d{0,9}|0)([.]?|(\.\d{1,2})?)$/.test(val)||!val||val<0){
								this.bail=''
								this.bailRate=''
							}else {
								this.bailRate=parseFloat(100*this.bail/number).toFixed(6);
							}
						},
						changeFirstPayRate:function(){
							var val=this.firstPay
							if(!/^([1-9]\d{0,9}|0)([.]?|(\.\d{1,2})?)$/.test(val)||!val||val<0){
								this.firstPay=''
								this.firstPayRate=''
							}else {
								this.firstPayRate=parseFloat(100*this.firstPay/this.allPrice).toFixed(6);
							}
						},
						bailToRateStatus:function(){
							this.bailToRate=!this.bailToRate
						},
						moneyToRateStatus:function(){
							this.moneyToRate=!this.moneyToRate
						},
						getData:function(){
							console.log("prjId"+this.prjId);
							var _this=this
							if(this.prjId){
								summer.showProgress();
								ajaxRequest({
									type:'POST',
									url:"appservice/project/prjquatprps/getById.do",
									param:{prjId:_this.prjId}
								},function(res){
									console.log("res",JSON.stringify(res));
									summer.hideProgress()
									_this.pickerSchemeList[0].values=res.data.quatList
									if(!res.data.quatList){
										summer.toast({msg:"无可用方案，请联系管理员维护"})
										return
									}
									if(res.data.quatList.length==1){
										_this.SCHEME_NAME_ID=res.data.quatList[0].schemeCode
										_this.SCHEME_NAME=res.data.quatList[0].schemeName
									}
									if(_this.prjId){
										var dataObj=res.data.prjQuatPrps
										_this.allPrice=res.data.carZe
										if(dataObj){
											_this.allPrice=dataObj.totLsItmAmt
											_this.SCHEME_NAME_ID=res.data.schemeCode
											_this.SCHEME_NAME=res.data.SCHEME_NAME
											_this.lsPd=dataObj.lsPd
											_this.lsPdUntCd=dataObj.lsPdUntCd
											_this.lsPdUntCdName=dataObj.lsPdUntNm
											_this.payWayCd=dataObj.payWayCd
											_this.payWay=dataObj.payWay
											_this.annIntRatePct=dataObj.annIntRatePct
											_this.defAnnIntRatePct=dataObj.defAnnIntRatePct
											_this.hirePct=dataObj.hirePct
											_this.hirePctMoney=parseFloat(_this.hirePct*_this.allPrice*0.01).toFixed(2)
											_this.bailPct=dataObj.bailPct
											_this.bailPctMoney=parseFloat(_this.bailPct*_this.allPrice*0.01).toFixed(2)
											_this.txJe=dataObj.txJe
											_this.gpsIns=dataObj.gpsIns
											_this.gpsInsName=dataObj.gpsInsNm
											_this.gpsTyp=dataObj.gpsTyp
											_this.gpsTypList=res.data.GPSTypArray

											if(_this.gpsTyp){
												_this.GPSTypArray=_this.gpsTyp.split(",")
												for(var k=0;k<_this.GPSTypArray.length;k++){
													for(var m=0;m<_this.gpsTypList.length;m++){
														if(_this.GPSTypArray[k]==_this.gpsTypList[m].value){
															_this.gpsTypName+=_this.gpsTypList[m].label
														}
													}
												}
											}
											_this.everyPrice=dataObj.eachEstRntAmt


											for(var j=0;j<dataObj.prjQuatPrpsFeeList.length;j++){
												if(dataObj.prjQuatPrpsFeeList[j].feeTypCd=='04'){
													_this.groessPrice=dataObj.prjQuatPrpsFeeList[j].feeAmt
												}else if(dataObj.prjQuatPrpsFeeList[j].feeTypCd=='10'){
													_this.gpsPrice=dataObj.prjQuatPrpsFeeList[j].feeAmt
													_this.gpsPriceId=dataObj.prjQuatPrpsFeeList[j].cntWayCd
													if(_this.gpsPriceId=='1'){_this.gpsPriceName='首付款'}else{_this.gpsPriceName='融资额'}
												}else if(dataObj.prjQuatPrpsFeeList[j].feeTypCd=='30'){
													_this.gouZhiPrice=dataObj.prjQuatPrpsFeeList[j].feeAmt
													_this.gouZhiPriceId=dataObj.prjQuatPrpsFeeList[j].cntWayCd
													if(_this.gouZhiPriceId=='1'){_this.gouZhiPriceName='首付款'}else{_this.gouZhiPriceName='融资额'}
												}else if(dataObj.prjQuatPrpsFeeList[j].feeTypCd=='32'){
													_this.safePrice=dataObj.prjQuatPrpsFeeList[j].feeAmt
													_this.safePriceId=dataObj.prjQuatPrpsFeeList[j].cntWayCd
													if(_this.safePriceId=='1'){_this.safePriceName='首付款'}else{_this.safePriceName='融资额'}
												}else if(dataObj.prjQuatPrpsFeeList[j].feeTypCd=='51'){
													_this.zhuangXiuPrice=dataObj.prjQuatPrpsFeeList[j].feeAmt
													_this.zhuangXiuPriceId=dataObj.prjQuatPrpsFeeList[j].cntWayCd
													if(_this.zhuangXiuPriceId=='1'){_this.zhuangXiuPriceName='首付款'}else{_this.zhuangXiuPriceName='融资额'}
												}
											}
										}
										if(_this.SCHEME_NAME_ID!=''){
											_this.checkDate()

										}
									}
								},function(err){
									console.log("err",err);
									summer.hideProgress()
								})
							}else{
								summer.showProgress();
								ajaxRequest({
									type:'POST',
									url:"appservice/project/prdbscsch/selectSchemeTest.do",
									param:{id:''}
								},function(res){
									console.log("res",JSON.stringify(res));
									summer.hideProgress()
									_this.pickerSchemeList[0].values=res.data.datas.quatList
									if(res.data.datas.quatList.length==1){
										_this.SCHEME_NAME_ID=res.data.datas.quatList[0].schemeCode
										_this.SCHEME_NAME=res.data.datas.quatList[0].schemeName
									}
								},function(err){
									console.log("err",err);
									summer.hideProgress()
								})
							}
						},
						pickerSchemeChange:function(picker,values){
							this.pickingObj=values[0]
						},
						checkSelected:function(value){
							if(String(this.gpsTyp).indexOf(value)>-1){
								return true
							}else{
								return false
							}
						},
						toggleGpsType:function(e,value,label){
							$(e.currentTarget).toggleClass('active')
							for (var i = 0; i < this.selectdGpsArr.length; i++) {
								if(this.selectdGpsArr[i].value==value){
									this.selectdGpsArr.splice(i,1)
									return
								}
							}
							this.selectdGpsArr.push({value:value,label:label})
						},
						sureGpsType:function(values){
							this.gpsTypStatus=!this.gpsTypStatus
							if(values=='confirm'){
								this.isTest=false
								this.gpsTypName=''
								this.gpsTyp=''
								for (var i = 0; i < this.selectdGpsArr.length; i++) {
									if(i==0){
										this.gpsTypName+=this.selectdGpsArr[i].label
										this.gpsTyp+=this.selectdGpsArr[i].value
									}else{
										this.gpsTypName+=","+this.selectdGpsArr[i].label
										this.gpsTyp+=","+this.selectdGpsArr[i].value
									}
								}
							}
						},
						checkDate:function(){
							var _this=this;
							console.log('checkDate');
							summer.showProgress();
							console.log("schemeCode"+JSON.stringify({schemeCode:_this.SCHEME_NAME_ID}));
							ajaxRequest({
								type:'POST',
								url:'appservice/project/prdbscsch/selectDetailScheme.do',
								param:{schemeCode:_this.SCHEME_NAME_ID}
							},function(res){
								console.log("res",JSON.stringify(res));
								var resultData=res.data.datas;
								if(resultData.lsPdUntArray.length>1){
									_this.LspdList=resultData.lsPdUntArray
								}else {
									_this.lsPdUntCd=resultData.lsPdUntArray[0].value
									_this.lsPdUntCdName=resultData.lsPdUntArray[0].label
								}
								_this.listYearRate=resultData.listYearRate
								if(resultData.payWayArray.length>1){
									_this.pickerPayWayList=resultData.payWayArray
								}else{
									_this.payWayCd=resultData.payWayArray[0].value
									_this.payWay=resultData.payWayArray[0].label
								}
								_this.pickerGpsInsList=resultData.GPSInsArray
								if(_this.pickerGpsInsList.length==1){
									_this.gpsInsStatus=true
									_this.gpsInsName=_this.pickerGpsInsList[0].label
									_this.gpsIns=_this.pickerGpsInsList[0].value
								}else {
									_this.gpsInsStatus=false
								}
								_this.gpsTypList=resultData.GPSTypArray

								for (var i = 0; i < resultData.schList.length; i++) {
									if(resultData.schList[i].keyNameEn=='ZLQS'){
										if(resultData.schList[i].valueStatus=='1'){
											_this.lsPd=resultData.schList[i].valueStr
											_this.lsPdStatus=true
										}else{_this.lsPdStatus=false}
									}else if(resultData.schList[i].keyNameEn=='START_PERCENT'){
										if(resultData.schList[i].valueStatus=='1'){
											_this.hirePct=resultData.schList[i].valueStr
											_this.hirePctMoney=parseFloat(resultData.schList[i].valueStr*_this.allPrice*0.01).toFixed(2)
											_this.hirePctStatue=true
										}else{_this.hirePctStatue=false}
									}else if(resultData.schList[i].keyNameEn=='BZJBL_PERCENT'){
										if(resultData.schList[i].valueStatus=='1'){
											_this.bailPct=resultData.schList[i].valueStr
											_this.bailPctMoney=parseFloat(resultData.schList[i].valueStr*_this.allPrice*0.).toFixed(2)
											_this.bailPctStatue=true
										}else{_this.bailPctStatue=false}
									}else if(resultData.schList[i].keyNameEn=='BUY_TAX_PRICE'){

										if(resultData.schList[i].valueStatus=='0'){
											if(resultData.schList[i].fygs.length<6){
												_this.gouZhiPriceStatus=true
												if(resultData.schList[i].fygs=='JRRZE'){
													_this.gouZhiPriceId=2
													_this.gouZhiPriceName='融资额'
												}else{
													_this.gouZhiPriceId=1
													_this.gouZhiPriceName='首付款'
												}
											}else{
												_this.gouZhiPriceStatus=false
											}
										}
									}else if(resultData.schList[i].keyNameEn=='GPS_PRICE'){
										if(resultData.schList[i].valueStatus=='0'){
											if(resultData.schList[i].fygs.length<6){
												_this.gpsPriceStatus=true
												if(resultData.schList[i].fygs=='JRRZE'){
													_this.gpsPriceId=2
													_this.gpsPriceName='融资额'
												}else{
													_this.gpsPriceId=1
													_this.gpsPriceName='首付款'
												}
											}else{
												_this.gpsPriceStatus=false
											}
										}
									}else if(resultData.schList[i].keyNameEn=='BXF_PRICE'){
										if(resultData.schList[i].valueStatus=='0'){
											if(resultData.schList[i].fygs.length<6){
												_this.safePriceStatus=true
												if(resultData.schList[i].fygs=='JRRZE'){
													_this.safePriceId=2
													_this.safePriceName='融资额'
												}else{
													_this.safePriceId=1
													_this.safePriceName='首付款'
												}
											}else{
												_this.safePriceStatus=false
											}
										}
									}else if(resultData.schList[i].keyNameEn=='JPZH_PRICE'){
										if(resultData.schList[i].valueStatus=='0'){
											if(resultData.schList[i].fygs.length<6){
												_this.zhuangXiuPriceStatus=true
												if(resultData.schList[i].fygs=='JRRZE'){
													_this.zhuangXiuPriceId=2
													_this.zhuangXiuPriceName='融资额'
												}else{
													_this.zhuangXiuPriceId=1
													_this.zhuangXiuPriceName='首付款'
												}
											}else{
												_this.zhuangXiuPriceStatus=false
											}
										}
									}
								}
								if(_this.lsPd&&_this.lsPdUntCd){
									_this.AnnIntRatePctList=[];
									var num=_this.lsPd*_this.lsPdUntCd
									for (var i = 0; i < _this.listYearRate.length; i++) {
										if(num>=_this.listYearRate[i].leaseTermS&&num<=_this.listYearRate[i].leaseTermE){
											_this.AnnIntRatePctList.push({label:_this.listYearRate[i].yearRate,value:_this.listYearRate[i].yearRate})
										}
									}
									if(_this.AnnIntRatePctList.length==1){_this.annIntRatePct=_this.AnnIntRatePctList[0].value}
								}
								summer.hideProgress()
							},function(err){
								console.log("err",err);
								summer.hideProgress()
							})
						},
						pickerScheme:function(values){
							this.pickerSchemeStatue=!this.pickerSchemeStatue
							if(values=='confirm'){
								this.isTest=false
								this.SCHEME_NAME=this.pickingObj.schemeName
								this.SCHEME_NAME_ID=this.pickingObj.schemeCode
								this.lsPd=''
								this.lsPdUntCd=''
								this.lsPdUntCdName=''
								this.annIntRatePct=''
								this.payWayCd=''
								this.payWay=''
								this.hirePct=''
								this.hirePctMoney=''
								this.bailPct=''
								this.bailPctMoney=''
								this.gpsIns=''
								this.gpsInsName=''
								this.gpsTyp=''
								this.gpsTypName=''
								this.selectdGpsArr=[]
								this.gpsPriceId=''
								this.gpsPriceName=''
								this.gouZhiPriceId=''
								this.gouZhiPriceName=''
								this.safePriceId=''
								this.safePriceName=''
								this.zhuangXiuPriceId=''
								this.zhuangXiuPriceName=''
								this.checkDate()
							}
						},
						pickLspd:function(status,values){
							if(!this.SCHEME_NAME){
								summer.toast({msg:'请先选择产品方案'});
								return;
							}
							this.pickLspdStatus=!this.pickLspdStatus
							if(status){
								this.currentName=status
								if(status=='lspd'){
									if(!this.lsPd){
										summer.toast({msg:'请先输入还款期限'});
										return;
									}
									this.pickerLspdList[0].values=this.LspdList
								}else if(status=='yearRate'){
									if(this.lsPdUntCdName){
										this.pickerLspdList[0].values=this.AnnIntRatePctList
									}else {
										summer.toast({msg:'请先选择还款期限单位'});
										return;
									}
								}else if (status=='payType') {
									this.pickerLspdList[0].values=this.pickerPayWayList
								}else if (status=='hasGps') {
									this.pickerLspdList[0].values=this.pickerGpsInsList
								}else {
									this.pickerLspdList[0].values=this.pickerCntWayList
								}
								return
							}
							if(values=='confirm'){
								this.isTest=false
								if(this.currentName=='lspd'){
									this.lsPdUntCd=this.pickingObj.value
									this.lsPdUntCdName=this.pickingObj.label
									this.AnnIntRatePctList=[];
									var num=this.lsPd*this.lsPdUntCd
									for (var i = 0; i < this.listYearRate.length; i++) {
										if(num>=this.listYearRate[i].leaseTermS&&num<=this.listYearRate[i].leaseTermE){
											this.AnnIntRatePctList.push({label:this.listYearRate[i].yearRate,value:this.listYearRate[i].yearRate})
										}
									}
									if(this.AnnIntRatePctList.length==1){this.annIntRatePct=this.AnnIntRatePctList[0].value}
								}else if (this.currentName=='yearRate') {
									this.annIntRatePct=this.pickingObj.value
									this.defAnnIntRatePct=this.pickingObj.value
								}else if (this.currentName=='payType') {
									this.payWayCd=this.pickingObj.value
									this.payWay=this.pickingObj.label
								}else if (this.currentName=='gpsPrice') {
									this.gpsPriceId=this.pickingObj.value
									this.gpsPriceName=this.pickingObj.label
								}else if (this.currentName=='gouZhiPrice') {
									this.gouZhiPriceId=this.pickingObj.value
									this.gouZhiPriceName=this.pickingObj.label
								}else if (this.currentName=='safePrice') {
									this.safePriceId=this.pickingObj.value
									this.safePriceName=this.pickingObj.label
								}else if (this.currentName=='zhuangXiuPrice') {
									this.zhuangXiuPriceId=this.pickingObj.value
									this.zhuangXiuPriceName=this.pickingObj.label
								}else if (this.currentName=='hasGps') {
									this.gpsIns=this.pickingObj.value
									this.gpsInsName=this.pickingObj.label
								}

							}
						},
						changeBail:function(){
							var val=parseFloat(this.bailRate);
							if(!/^([1-9]\d{0,9}|0)([.]?|(\.\d{1,6})?)$/.test(val)||!val||val<0||val>100){
								this.bailRate=''
								this.bail=''
							}else {
								if(!this.bailRate){this.bail='';return}
								this.bail=parseFloat(this.bailRate*this.allPrice*0.01).toFixed(2)
							}
						},
						changeFirstPay:function(){
							var val=this.firstPayRate
							if(!/^([1-9]\d{0,9}|0)([.]?|(\.\d{1,6})?)$/.test(val)||!val||val<0||val>100){
								this.firstPayRate=''
								this.firstPay=''
							}else {
								this.firstPay=parseFloat(this.firstPayRate*this.allPrice*0.01).toFixed(2)
								if(!this.firstPayRate){this.firstPay=''}
							}

						},
						sureBail:function(value){
							if(!this.allPrice){
								summer.toast({msg:'请先填写车辆单价'});
								return;
							}
							this.bailStatue=!this.bailStatue
							if(value=='confirm'){
								this.isTest=false
								this.bailPctMoney=this.bail
								this.bailPct=this.bailRate
							}
						},
						sureFristPay:function(value){
							if(!this.allPrice){
								summer.toast({msg:'请先填写车辆单价'});
								return;
							}
							this.firstPayStatu=!this.firstPayStatu
							if(value=='confirm'){
								this.isTest=false
								this.hirePctMoney=this.firstPay
								this.hirePct=this.firstPayRate
							}
						},
						checkVal:function(value){
							this.isTest=false
							if (value=='allPrice') {
								val=this.allPrice;
								if(!/^([1-9]\d{0,9}|0)([.]?|(\.\d{1,2})?)$/.test(val)||!val||val<0){
									this.allPrice=''
								}
							}else if(value==="lsPd"){
								val=this.lsPd;
								if(!/^([1-9]\d{0,9}|0)([.]?|(\.\d{1,2})?)$/.test(val)||!val||val<0){
									this.lsPd=''
								}
							}else if(value==="txJe"){
								val=this.txJe;
								if(!/^([1-9]\d{0,9}|0)([.]?|(\.\d{1,2})?)$/.test(val)||!val||val<0){
									this.txJe=''
								}
							}else if(value==="groessPrice"){
								val=this.groessPrice;
								if(!/^([1-9]\d{0,9}|0)([.]?|(\.\d{1,2})?)$/.test(val)||!val||val<0){
									this.groessPrice=''
								}
							}else if(value==="gpsPrice"){
								val=this.gpsPrice;
								if(!/^([1-9]\d{0,9}|0)([.]?|(\.\d{1,2})?)$/.test(val)||!val||val<0){
									this.gpsPrice=''
								}
							}else if(value==="gouZhiPrice"){
								val=this.gouZhiPrice;
								if(!/^([1-9]\d{0,9}|0)([.]?|(\.\d{1,2})?)$/.test(val)||!val||val<0){
									this.gouZhiPrice=''
								}
							}else if(value==="safePrice"){
								val=this.safePrice;
								if(!/^([1-9]\d{0,9}|0)([.]?|(\.\d{1,2})?)$/.test(val)||!val||val<0){
									this.safePrice=''
								}
							}else if(value==="zhuangXiuPrice"){
								val=this.zhuangXiuPrice;
								if(!/^([1-9]\d{0,9}|0)([.]?|(\.\d{1,2})?)$/.test(val)||!val||val<0){
									this.zhuangXiuPrice=''
								}
							}
						},
						quotedTest:function(){
							var params={
								lsPd:this.lsPd,
								lsPdUntCd:this.lsPdUntCd,
								annIntRatePct:this.annIntRatePct,
								payWayCd:this.payWayCd,
								payWay:this.payWay,
								hirePct:this.hirePct,
								bailPct:this.bailPct,
								txJe:this.txJe,
								gpsIns:this.gpsIns,
								gpsTyp:this.gpsTyp,
								prjQuatPrpsFeeList:[
									{feeTypCd:'04',cntWayCd:'1',feeAmt:this.groessPrice},
									// {feeTypCd:'10',cntWayCd:this.gpsPriceId,feeAmt:this.gpsPrice},
									{feeTypCd:'10',cntWayCd:'2',feeAmt:this.gpsPrice},
									// {feeTypCd:'30',cntWayCd:this.gouZhiPriceId,feeAmt:this.gouZhiPrice},
									{feeTypCd:'30',cntWayCd:'2',feeAmt:this.gouZhiPrice},
									// {feeTypCd:'32',cntWayCd:this.safePriceId,feeAmt:this.safePrice},
									{feeTypCd:'32',cntWayCd:'2',feeAmt:this.safePrice},
									// {feeTypCd:'51',cntWayCd:this.zhuangXiuPriceId,feeAmt:this.zhuangXiuPrice},
									{feeTypCd:'51',cntWayCd:'2',feeAmt:this.zhuangXiuPrice}
								]
							};
							if(this.prjId){
								params.prjId=this.prjId
							}else {
								params.totLsItmAmt=this.allPrice
							}
							for (var k in params) {
								if(k!='gpsTyp'&&!params[k]){
									summer.toast({msg:'请先完善报价信息'})
									return
								}
							}
							if(!this.gpsPriceId||!this.gpsPrice||!this.gouZhiPriceId||!this.gouZhiPrice||!this.safePriceId||!this.safePrice||!this.zhuangXiuPriceId||!this.zhuangXiuPrice){
								summer.toast({msg:'请先完善报价信息'})
								return
							}
							var _this=this;
							console.log(JSON.stringify(params));
							ajaxRequest({
								type:'POST',
								url:'appservice/project/prjquatprps/quatPmt.do',
								param:params
							},function(res){
								console.log("res",res);
								summer.toast({msg:"测算完成"});
								if(res.data.flag=='1'){
									_this.isTest=true;
									_this.everyPrice=res.data.datas
								}else {
									summer.toast({msg:res.data.msg})
								}

							},function(err){
								console.log("err",err);
							})

						},
						save:function(){
							// http
							if(!this.isTest){
								summer.toast({msg:'请先测算报价'})
								return
							}
							summer.showProgress();
							var _this=this
							var param={
								prjId:this.prjId,
								lsPd:this.lsPd,
								lsPdUntCd:this.lsPdUntCd,
								annIntRatePct:this.annIntRatePct,
								payWayCd:this.payWayCd,
								payWay:this.payWay,
								hirePct:this.hirePct,
								bailPct:this.bailPct,
								txJe:this.txJe,
								gpsIns:this.gpsIns,
								gpsTyp:this.gpsTyp,
								proQuatPrpsCfgM3:{id:this.SCHEME_NAME_ID},
								prjQuatPrpsFeeList:[
									{feeTypCd:'04',cntWayCd:'1',feeAmt:this.groessPrice},
									// {feeTypCd:'10',cntWayCd:this.gpsPriceId,feeAmt:this.gpsPrice},
									{feeTypCd:'10',cntWayCd:'2',feeAmt:this.gpsPrice},
									// {feeTypCd:'30',cntWayCd:this.gouZhiPriceId,feeAmt:this.gouZhiPrice},
									{feeTypCd:'30',cntWayCd:'2',feeAmt:this.gouZhiPrice},
									// {feeTypCd:'32',cntWayCd:this.safePriceId,feeAmt:this.safePrice},
									{feeTypCd:'32',cntWayCd:'2',feeAmt:this.safePrice},
									// {feeTypCd:'51',cntWayCd:this.zhuangXiuPriceId,feeAmt:this.zhuangXiuPrice},
									{feeTypCd:'51',cntWayCd:'2',feeAmt:this.zhuangXiuPrice},
								]
							};
							console.log(JSON.stringify(param));
							ajaxRequest({
								type:'POST',
								url:'appservice/project/prjquatprps/savePrjQuat.do',
								param:param
							},function(res){
								console.log("res",JSON.stringify(res));
								summer.hideProgress();
								summer.toast({msg:"保存成功"});
								summer.execScript({
								    winId: "setProject",
								    script: "addRight('price')"
								});
								summer.closeToWin({id:'setProject'})
							},function(err){
								console.log("err",err);
							})
						}
					}
        })
			function save(){
				quotedVue.save()
			}
    </script>
  </body>
</html>
